In [79]:
import pandas as pd

In [80]:
# Read the CSV file into a DataFrame

df2008 = pd.read_csv("/content/Crime_Incidents_in_2008.csv")
df2009 = pd.read_csv("/content/Crime_Incidents_in_2009.csv")
df2010 = pd.read_csv("/content/Crime_Incidents_in_2011.csv")
df2011 = pd.read_csv("/content/Crime_Incidents_in_2011.csv")
df2012 = pd.read_csv("/content/Crime_Incidents_in_2012.csv")
df2013 = pd.read_csv("/content/Crime_Incidents_in_2013.csv")
df2014 = pd.read_csv("/content/Crime_Incidents_in_2014.csv")
df2015 = pd.read_csv("/content/Crime_Incidents_in_2015.csv")
df2016 = pd.read_csv("/content/Crime_Incidents_in_2016.csv")
df2017 = pd.read_csv("/content/Crime_Incidents_in_2017.csv")
df2018 = pd.read_csv("/content/Crime_Incidents_in_2018.csv")
df2019 = pd.read_csv("/content/Crime_Incidents_in_2019.csv")
df2020 = pd.read_csv("/content/Crime_Incidents_in_2020.csv")
df2021 = pd.read_csv("/content/Crime_Incidents_in_2021.csv")
df2022 = pd.read_csv("/content/Crime_Incidents_in_2022.csv")
df2023 = pd.read_csv("/content/Crime_Incidents_in_2023.csv")

In [81]:
columns2008 = set(df2008.columns)
columns2009 = set(df2009.columns)
columns2010 = set(df2010.columns)
columns2011 = set(df2011.columns)
columns2012 = set(df2012.columns)
columns2013 = set(df2013.columns)
columns2014 = set(df2014.columns)
columns2015 = set(df2015.columns)
columns2016 = set(df2016.columns)
columns2017 = set(df2017.columns)
columns2018 = set(df2018.columns)
columns2019 = set(df2019.columns)
columns2020 = set(df2020.columns)
columns2021 = set(df2021.columns)
columns2022 = set(df2022.columns)
columns2023 = set(df2023.columns)

In [82]:
print(columns2008)
print(columns2009)
print(columns2010)
print(columns2011)
print(columns2012)
print(columns2013)
print(columns2014)
print(columns2015)
print(columns2016)
print(columns2017)
print(columns2018)
print(columns2019)
print(columns2020)
print(columns2021)
print(columns2022)
print(columns2023)

{'XBLOCK', 'WARD', 'NEIGHBORHOOD_CLUSTER', 'SHIFT', 'LONGITUDE', 'ANC', 'X', 'OFFENSE', 'BLOCK', 'CENSUS_TRACT', 'DISTRICT', 'BLOCK_GROUP', 'LATITUDE', 'YBLOCK', 'START_DATE', 'END_DATE', 'METHOD', 'CCN', 'OCTO_RECORD_ID', 'PSA', 'BID', 'OBJECTID', 'VOTING_PRECINCT', 'Y', 'REPORT_DAT'}
{'XBLOCK', 'WARD', 'NEIGHBORHOOD_CLUSTER', 'SHIFT', 'LONGITUDE', 'ANC', 'X', 'OFFENSE', 'BLOCK', 'CENSUS_TRACT', 'DISTRICT', 'BLOCK_GROUP', 'LATITUDE', 'YBLOCK', 'START_DATE', 'END_DATE', 'METHOD', 'CCN', 'OCTO_RECORD_ID', 'PSA', 'BID', 'OBJECTID', 'VOTING_PRECINCT', 'Y', 'REPORT_DAT'}
{'XBLOCK', 'WARD', 'NEIGHBORHOOD_CLUSTER', 'SHIFT', 'LONGITUDE', 'ANC', 'X', 'OFFENSE', 'BLOCK', 'CENSUS_TRACT', 'DISTRICT', 'BLOCK_GROUP', 'LATITUDE', 'YBLOCK', 'START_DATE', 'END_DATE', 'METHOD', 'CCN', 'OCTO_RECORD_ID', 'PSA', 'BID', 'OBJECTID', 'VOTING_PRECINCT', 'Y', 'REPORT_DAT'}
{'XBLOCK', 'WARD', 'NEIGHBORHOOD_CLUSTER', 'SHIFT', 'LONGITUDE', 'ANC', 'X', 'OFFENSE', 'BLOCK', 'CENSUS_TRACT', 'DISTRICT', 'BLOCK_GROUP', 'LATITUDE', 'YBLOCK', 'START_DATE', 'END_DATE', 'METHOD', 'CCN', 'OCTO_RECORD_ID', 'PSA', 'BID', 'OBJECTID', 'VOTING_PRECINCT', 'Y', 'REPORT_DAT'}
{'XBLOCK', 'WARD', 'NEIGHBORHOOD_CLUSTER', 'SHIFT', 'LONGITUDE', 'ANC', 'X', 'OFFENSE', 'BLOCK', 'CENSUS_TRACT', 'DISTRICT', 'BLOCK_GROUP', 'LATITUDE', 'YBLOCK', 'START_DATE', 'END_DATE', 'METHOD', 'CCN', 'OCTO_RECORD_ID', 'PSA', 'BID', 'OBJECTID', 'VOTING_PRECINCT', 'Y', 'REPORT_DAT'}
{'XBLOCK', 'WARD', 'NEIGHBORHOOD_CLUSTER', 'SHIFT', 'LONGITUDE', 'ANC', 'X', 'OFFENSE', 'BLOCK', 'CENSUS_TRACT', 'DISTRICT', 'BLOCK_GROUP', 'LATITUDE', 'YBLOCK', 'START_DATE', 'END_DATE', 'METHOD', 'CCN', 'OCTO_RECORD_ID', 'PSA', 'BID', 'OBJECTID', 'VOTING_PRECINCT', 'Y', 'REPORT_DAT'}
{'XBLOCK', 'WARD', 'NEIGHBORHOOD_CLUSTER', 'SHIFT', 'LONGITUDE', 'ANC', 'X', 'OFFENSE', 'BLOCK', 'CENSUS_TRACT', 'DISTRICT', 'BLOCK_GROUP', 'LATITUDE', 'YBLOCK', 'START_DATE', 'END_DATE', 'METHOD', 'CCN', 'OCTO_RECORD_ID', 'PSA', 'BID', 'OBJECTID', 'VOTING_PRECINCT', 'Y', 'REPORT_DAT'}
{'XBLOCK', 'WARD', 'NEIGHBORHOOD_CLUSTER', 'SHIFT', 'LONGITUDE', 'ANC', 'X', 'OFFENSE', 'BLOCK', 'CENSUS_TRACT', 'DISTRICT', 'BLOCK_GROUP', 'LATITUDE', 'YBLOCK', 'START_DATE', 'END_DATE', 'METHOD', 'CCN', 'OCTO_RECORD_ID', 'PSA', 'BID', 'OBJECTID', 'VOTING_PRECINCT', 'Y', 'REPORT_DAT'}
{'XBLOCK', 'WARD', 'NEIGHBORHOOD_CLUSTER', 'SHIFT', 'LONGITUDE', 'ANC', 'X', 'OFFENSE', 'BLOCK', 'CENSUS_TRACT', 'DISTRICT', 'BLOCK_GROUP', 'LATITUDE', 'YBLOCK', 'START_DATE', 'END_DATE', 'METHOD', 'CCN', 'OCTO_RECORD_ID', 'PSA', 'BID', 'OBJECTID', 'VOTING_PRECINCT', 'Y', 'REPORT_DAT'}
{'XBLOCK', 'WARD', 'NEIGHBORHOOD_CLUSTER', 'SHIFT', 'LONGITUDE', 'ANC', 'X', 'OFFENSE', 'BLOCK', 'CENSUS_TRACT', 'DISTRICT', 'BLOCK_GROUP', 'LATITUDE', 'YBLOCK', 'START_DATE', 'END_DATE', 'METHOD', 'CCN', 'OCTO_RECORD_ID', 'PSA', 'BID', 'OBJECTID', 'VOTING_PRECINCT', 'Y', 'REPORT_DAT'}
{'XBLOCK', 'WARD', 'NEIGHBORHOOD_CLUSTER', 'SHIFT', 'LONGITUDE', 'ANC', 'X', 'OFFENSE', 'BLOCK', 'CENSUS_TRACT', 'DISTRICT', 'BLOCK_GROUP', 'LATITUDE', 'YBLOCK', 'START_DATE', 'END_DATE', 'METHOD', 'CCN', 'OCTO_RECORD_ID', 'PSA', 'BID', 'OBJECTID', 'VOTING_PRECINCT', 'Y', 'REPORT_DAT'}
{'XBLOCK', 'WARD', 'NEIGHBORHOOD_CLUSTER', 'SHIFT', 'LONGITUDE', 'ANC', 'X', 'OFFENSE', 'BLOCK', 'CENSUS_TRACT', 'DISTRICT', 'BLOCK_GROUP', 'LATITUDE', 'YBLOCK', 'START_DATE', 'END_DATE', 'METHOD', 'CCN', 'OCTO_RECORD_ID', 'PSA', 'BID', 'OBJECTID', 'VOTING_PRECINCT', 'Y', 'REPORT_DAT'}
{'XBLOCK', 'WARD', 'NEIGHBORHOOD_CLUSTER', 'SHIFT', 'LONGITUDE', 'ANC', 'X', 'OFFENSE', 'BLOCK', 'CENSUS_TRACT', 'DISTRICT', 'BLOCK_GROUP', 'LATITUDE', 'YBLOCK', 'START_DATE', 'END_DATE', 'METHOD', 'CCN', 'OCTO_RECORD_ID', 'PSA', 'BID', 'OBJECTID', 'VOTING_PRECINCT', 'Y', 'REPORT_DAT'}
{'XBLOCK', 'WARD', 'NEIGHBORHOOD_CLUSTER', 'SHIFT', 'LONGITUDE', 'ANC', 'X', 'OFFENSE', 'BLOCK', 'CENSUS_TRACT', 'DISTRICT', 'BLOCK_GROUP', 'LATITUDE', 'YBLOCK', 'START_DATE', 'END_DATE', 'METHOD', 'CCN', 'OCTO_RECORD_ID', 'PSA', 'BID', 'OBJECTID', 'VOTING_PRECINCT', 'Y', 'REPORT_DAT'}
{'XBLOCK', 'WARD', 'NEIGHBORHOOD_CLUSTER', 'SHIFT', 'LONGITUDE', 'ANC', 'X', 'OFFENSE', 'BLOCK', 'CENSUS_TRACT', 'DISTRICT', 'BLOCK_GROUP', 'LATITUDE', 'YBLOCK', 'START_DATE', 'END_DATE', 'METHOD', 'CCN', 'OCTO_RECORD_ID', 'PSA', 'BID', 'OBJECTID', 'VOTING_PRECINCT', 'Y', 'REPORT_DAT'}
{'XBLOCK', 'WARD', 'NEIGHBORHOOD_CLUSTER', 'SHIFT', 'LONGITUDE', 'ANC', 'X', 'OFFENSE', 'BLOCK', 'CENSUS_TRACT', 'DISTRICT', 'BLOCK_GROUP', 'LATITUDE', 'YBLOCK', 'START_DATE', 'END_DATE', 'METHOD', 'CCN', 'OCTO_RECORD_ID', 'PSA', 'BID', 'OBJECTID', 'VOTING_PRECINCT', 'Y', 'REPORT_DAT'}

In [83]:
frames = [df2008, df2009, df2010, df2011, df2012, df2013, df2014, df2015, df2016, df2017, df2018, df2019, df2020, df2021, df2022, df2023]

df_combine = pd.concat(frames)

In [84]:
df_combine

,X,Y,CCN,REPORT_DAT,SHIFT,METHOD,OFFENSE,BLOCK,XBLOCK,YBLOCK,...,BLOCK_GROUP,CENSUS_TRACT,VOTING_PRECINCT,LATITUDE,LONGITUDE,BID,START_DATE,END_DATE,OBJECTID,OCTO_RECORD_ID
0,402846.00,133805.00,8175440,2008/12/12 22:00:00+00,EVENING,OTHERS,THEFT/OTHER,2800 - 2821 BLOCK OF PENNSYLVANIA AVENUE SE,402846.00,133805.00,...,007604 3,7604.0,Precinct 111,38.872067,-76.967204,NaN,2008/12/12 17:00:00+00,2008/12/12 19:00:00+00,591660807,NaN
1,400134.00,130213.00,8175469,2008/12/12 21:45:00+00,EVENING,OTHERS,ASSAULT W/DANGEROUS WEAPON,3301 - 3699 BLOCK OF 6TH STREET SE,400134.00,130213.00,...,009804 2,9804.0,Precinct 122,38.839713,-76.998457,NaN,2008/12/12 20:03:00+00,2008/12/12 05:00:00+00,591660808,NaN
2,396745.00,137321.00,8175472,2008/12/12 21:28:00+00,EVENING,OTHERS,THEFT/OTHER,1600 - 1699 BLOCK OF L STREET NW,396745.00,137321.00,...,010700 1,10700.0,Precinct 17,38.903739,-77.037526,GOLDEN TRIANGLE,2008/12/12 16:30:00+00,2008/12/12 20:30:00+00,591660809,NaN
3,397553.00,141435.00,8175489,2008/12/13 00:50:00+00,EVENING,OTHERS,THEFT/OTHER,1200 - 1299 BLOCK OF TAYLOR STREET NW,397553.00,141435.00,...,002502 1,2502.0,Precinct 47,38.940802,-77.028226,NaN,2008/12/12 21:15:00+00,2008/12/12 21:30:00+00,591660810,NaN
4,396326.00,139306.00,8175494,2008/12/12 22:00:00+00,EVENING,OTHERS,THEFT/OTHER,2400 - 2499 BLOCK OF 18TH STREET NW,396326.00,139306.00,...,004002 1,4002.0,Precinct 25,38.921619,-77.042367,ADAMS MORGAN,2008/01/07 23:00:00+00,2008/01/07 23:20:00+00,591660811,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34210,397700.46,136611.23,23425207,2023/11/30 21:41:51+00,EVENING,OTHERS,THEFT/OTHER,1000 - 1099 BLOCK OF F STREET NW,397700.46,136611.23,...,005802 5,5802.0,Precinct 129,38.897348,-77.026509,DOWNTOWN,2023/11/21 18:57:00+00,2023/11/21 19:06:00+00,593873669,NaN
34211,397431.22,138854.61,23425538,2023/12/15 14:02:09+00,DAY,OTHERS,THEFT F/AUTO,2000 - 2099 BLOCK OF 13TH STREET NW,397431.22,138854.61,...,004401 1,4401.0,Precinct 22,38.917556,-77.029621,NaN,2023/10/24 21:10:00+00,2023/10/24 23:00:00+00,593873670,NaN
34212,397281.24,140197.68,23425565,2023/12/19 20:22:29+00,EVENING,OTHERS,THEFT/OTHER,1300 - 1399 BLOCK OF KENYON STREET NW,397281.24,140197.68,...,003000 1,3000.0,Precinct 39,38.929655,-77.031355,NaN,2023/12/12 04:50:00+00,2023/12/12 11:30:00+00,593873671,NaN
34213,397655.47,139469.62,23425570,2023/12/20 12:41:42+00,DAY,OTHERS,THEFT F/AUTO,2500 - 2599 BLOCK OF 11TH STREET NW,397655.47,139469.62,...,003600 3,3600.0,Precinct 23,38.923097,-77.027037,NaN,2023/11/19 17:00:00+00,2023/11/20 05:00:00+00,593873672,NaN
34214,398192.91,141568.39,23425575,2023/12/20 13:01:08+00,DAY,OTHERS,THEFT/OTHER,600 - 699 BLOCK OF UPSHUR STREET NW,398192.91,141568.39,...,002400 3,2400.0,Precinct 45,38.942005,-77.020845,NaN,2023/12/07 03:08:00+00,2023/12/07 03:08:00+00,593873673,NaN

In [85]:
df_combine.info()

<class 'pandas.core.frame.DataFrame'>
Index: 534478 entries, 0 to 34214
Data columns (total 25 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   X                     534478 non-null  float64
 1   Y                     534478 non-null  float64
 2   CCN                   534478 non-null  int64
 3   REPORT_DAT            534478 non-null  object
 4   SHIFT                 534478 non-null  object
 5   METHOD                534478 non-null  object
 6   OFFENSE               534478 non-null  object
 7   BLOCK                 534475 non-null  object
 8   XBLOCK                534478 non-null  float64
 9   YBLOCK                534478 non-null  float64
 10  WARD                  534430 non-null  float64
 11  ANC                   534472 non-null  object
 12  DISTRICT              533677 non-null  float64
 13  PSA                   533600 non-null  float64
 14  NEIGHBORHOOD_CLUSTER  529884 non-null  object
 15  BLOCK_GROUP           533423 non-null  object
 16  CENSUS_TRACT          533425 non-null  float64
 17  VOTING_PRECINCT       534447 non-null  object
 18  LATITUDE              534478 non-null  float64
 19  LONGITUDE             534478 non-null  float64
 20  BID                   92197 non-null   object
 21  START_DATE            534453 non-null  object
 22  END_DATE              500671 non-null  object
 23  OBJECTID              534478 non-null  int64
 24  OCTO_RECORD_ID        0 non-null       float64
dtypes: float64(11), int64(2), object(12)
memory usage: 106.0+ MB

In [86]:
df_location_geog = df_combine[["BLOCK", "XBLOCK", "YBLOCK", "WARD", "ANC", "DISTRICT", "PSA", "NEIGHBORHOOD_CLUSTER", "VOTING_PRECINCT"]]

In [87]:
df_location_geog.info()

<class 'pandas.core.frame.DataFrame'>
Index: 534478 entries, 0 to 34214
Data columns (total 9 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   BLOCK                 534475 non-null  object
 1   XBLOCK                534478 non-null  float64
 2   YBLOCK                534478 non-null  float64
 3   WARD                  534430 non-null  float64
 4   ANC                   534472 non-null  object
 5   DISTRICT              533677 non-null  float64
 6   PSA                   533600 non-null  float64
 7   NEIGHBORHOOD_CLUSTER  529884 non-null  object
 8   VOTING_PRECINCT       534447 non-null  object
dtypes: float64(5), object(4)
memory usage: 40.8+ MB

In [88]:
df_location_geog_nonull = df_location_geog.dropna()

In [89]:
df_location_geog_nonull.info()

<class 'pandas.core.frame.DataFrame'>
Index: 528954 entries, 0 to 34214
Data columns (total 9 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   BLOCK                 528954 non-null  object
 1   XBLOCK                528954 non-null  float64
 2   YBLOCK                528954 non-null  float64
 3   WARD                  528954 non-null  float64
 4   ANC                   528954 non-null  object
 5   DISTRICT              528954 non-null  float64
 6   PSA                   528954 non-null  float64
 7   NEIGHBORHOOD_CLUSTER  528954 non-null  object
 8   VOTING_PRECINCT       528954 non-null  object
dtypes: float64(5), object(4)
memory usage: 40.4+ MB

In [90]:
#df_location_geog_nonull.groupby(["BLOCK", "XBLOCK", "YBLOCK"]).size()

In [91]:
# Create a dictionary mapping (xblock, yblock) to block from df2
block_mapping = dict(zip(zip(df_location_geog_nonull["XBLOCK"], df_location_geog_nonull["YBLOCK"]), df_location_geog_nonull["BLOCK"]))

# Define a custom function to fill in the missing block values
def fill_block(row):
    if pd.isna(row["BLOCK"]):  # If block is missing
        return block_mapping.get((row["XBLOCK"], row["YBLOCK"]), row["BLOCK"])
    return row["BLOCK"]

# Apply the function to the 'block' column
df_combine["BLOCK"] = df_combine.apply(fill_block, axis=1)

In [92]:
# Create a dictionary mapping (xblock, yblock) to ward from df2
Ward_mapping = dict(zip(zip(df_location_geog_nonull["XBLOCK"], df_location_geog_nonull["YBLOCK"]), df_location_geog_nonull["WARD"]))

# Define a custom function to fill in the missing block values
def fill_ward(row):
    if pd.isna(row["WARD"]):  # If block is missing
        return Ward_mapping.get((row["XBLOCK"], row["YBLOCK"]), row["WARD"])
    return row["WARD"]

# Apply the function to the 'block' column
df_combine["WARD"] = df_combine.apply(fill_ward, axis=1)

In [93]:
# Create a dictionary mapping (xblock, yblock) to ward from df2
ANC_mapping = dict(zip(zip(df_location_geog_nonull["XBLOCK"], df_location_geog_nonull["YBLOCK"]), df_location_geog_nonull["ANC"]))

# Define a custom function to fill in the missing block values
def fill_anc(row):
    if pd.isna(row["ANC"]):  # If block is missing
        return ANC_mapping.get((row["XBLOCK"], row["YBLOCK"]), row["ANC"])
    return row["ANC"]

# Apply the function to the 'block' column
df_combine["ANC"] = df_combine.apply(fill_anc, axis=1)

In [94]:
# Create a dictionary mapping (xblock, yblock) to ward from df2
DISTRICT_mapping = dict(zip(zip(df_location_geog_nonull["BLOCK"], df_location_geog_nonull["XBLOCK"], df_location_geog_nonull["YBLOCK"], df_location_geog_nonull["WARD"], df_location_geog_nonull["ANC"]), df_location_geog_nonull["DISTRICT"]))

# Define a custom function to fill in the missing block values
def fill_district(row):
    if pd.isna(row["DISTRICT"]):  # If block is missing
        return DISTRICT_mapping.get((row["BLOCK"], row["XBLOCK"], row["YBLOCK"], row["WARD"], row["ANC"]), row["DISTRICT"])
    return row["DISTRICT"]

# Apply the function to the 'block' column
df_combine["DISTRICT"] = df_combine.apply(fill_district, axis=1)

In [95]:
# Create a dictionary mapping (xblock, yblock) to ward from df2
PSA_mapping = dict(zip(zip(df_location_geog_nonull["BLOCK"], df_location_geog_nonull["XBLOCK"], df_location_geog_nonull["YBLOCK"], df_location_geog_nonull["WARD"], df_location_geog_nonull["ANC"], df_location_geog_nonull["DISTRICT"]), df_location_geog_nonull["PSA"]))

# Define a custom function to fill in the missing block values
def fill_psa(row):
    if pd.isna(row["PSA"]):  # If block is missing
        return PSA_mapping.get((row["BLOCK"], row["XBLOCK"], row["YBLOCK"], row["WARD"], row["ANC"], row["DISTRICT"]), row["PSA"])
    return row["PSA"]

# Apply the function to the 'block' column
df_combine["PSA"] = df_combine.apply(fill_psa, axis=1)

In [96]:
# Create a dictionary mapping (xblock, yblock) to ward from df2
NEIGHBORHOOD_CLUSTER_mapping = dict(zip(zip(df_location_geog_nonull["BLOCK"], df_location_geog_nonull["XBLOCK"], df_location_geog_nonull["YBLOCK"], df_location_geog_nonull["WARD"], df_location_geog_nonull["ANC"], df_location_geog_nonull["DISTRICT"], df_location_geog_nonull["PSA"]), df_location_geog_nonull["NEIGHBORHOOD_CLUSTER"]))

# Define a custom function to fill in the missing block values
def fill_ward(row):
    if pd.isna(row["NEIGHBORHOOD_CLUSTER"]):  # If block is missing
        return NEIGHBORHOOD_CLUSTER_mapping.get((row["BLOCK"], row["XBLOCK"], row["YBLOCK"], row["WARD"], row["ANC"], row["DISTRICT"], row["PSA"]), row["NEIGHBORHOOD_CLUSTER"])
    return row["NEIGHBORHOOD_CLUSTER"]

# Apply the function to the 'block' column
df_combine["NEIGHBORHOOD_CLUSTER"] = df_combine.apply(fill_ward, axis=1)

In [97]:
# Create a dictionary mapping (xblock, yblock) to ward from df2
VOTING_PRECINCT_mapping = dict(zip(zip(df_location_geog_nonull["BLOCK"], df_location_geog_nonull["XBLOCK"], df_location_geog_nonull["YBLOCK"], df_location_geog_nonull["WARD"], df_location_geog_nonull["ANC"], df_location_geog_nonull["DISTRICT"], df_location_geog_nonull["PSA"], df_location_geog_nonull["NEIGHBORHOOD_CLUSTER"]), df_location_geog_nonull["VOTING_PRECINCT"]))

# Define a custom function to fill in the missing block values
def fill_ward(row):
    if pd.isna(row["VOTING_PRECINCT"]):  # If block is missing
        return VOTING_PRECINCT_mapping.get((row["BLOCK"], row["XBLOCK"], row["YBLOCK"], row["WARD"], row["ANC"], row["DISTRICT"], row["PSA"], row["NEIGHBORHOOD_CLUSTER"]), row["VOTING_PRECINCT"])
    return row["VOTING_PRECINCT"]

# Apply the function to the 'block' column
df_combine["VOTING_PRECINCT"] = df_combine.apply(fill_ward, axis=1)

In [98]:
df_combine.info()

<class 'pandas.core.frame.DataFrame'>
Index: 534478 entries, 0 to 34214
Data columns (total 25 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   X                     534478 non-null  float64
 1   Y                     534478 non-null  float64
 2   CCN                   534478 non-null  int64
 3   REPORT_DAT            534478 non-null  object
 4   SHIFT                 534478 non-null  object
 5   METHOD                534478 non-null  object
 6   OFFENSE               534478 non-null  object
 7   BLOCK                 534476 non-null  object
 8   XBLOCK                534478 non-null  float64
 9   YBLOCK                534478 non-null  float64
 10  WARD                  534478 non-null  float64
 11  ANC                   534478 non-null  object
 12  DISTRICT              534433 non-null  float64
 13  PSA                   534426 non-null  float64
 14  NEIGHBORHOOD_CLUSTER  533043 non-null  object
 15  BLOCK_GROUP           533423 non-null  object
 16  CENSUS_TRACT          533425 non-null  float64
 17  VOTING_PRECINCT       534460 non-null  object
 18  LATITUDE              534478 non-null  float64
 19  LONGITUDE             534478 non-null  float64
 20  BID                   92197 non-null   object
 21  START_DATE            534453 non-null  object
 22  END_DATE              500671 non-null  object
 23  OBJECTID              534478 non-null  int64
 24  OCTO_RECORD_ID        0 non-null       float64
dtypes: float64(11), int64(2), object(12)
memory usage: 106.0+ MB

In [99]:
df_combine.drop("X", axis=1, inplace=True)
df_combine.drop("Y", axis=1, inplace=True)
df_combine.drop("CCN", axis=1, inplace=True)
df_combine.drop("XBLOCK", axis=1, inplace=True)
df_combine.drop("YBLOCK", axis=1, inplace=True)
df_combine.drop("NEIGHBORHOOD_CLUSTER", axis=1, inplace=True)
df_combine.drop("BLOCK_GROUP", axis=1, inplace=True)
df_combine.drop("CENSUS_TRACT", axis=1, inplace=True)
df_combine.drop("BID", axis=1, inplace=True)
df_combine.drop("START_DATE", axis=1, inplace=True)
df_combine.drop("END_DATE", axis=1, inplace=True)
df_combine.drop("OBJECTID", axis=1, inplace=True)
df_combine.drop("OCTO_RECORD_ID", axis=1, inplace=True)

In [100]:
df_combine.info()

<class 'pandas.core.frame.DataFrame'>
Index: 534478 entries, 0 to 34214
Data columns (total 12 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   REPORT_DAT       534478 non-null  object
 1   SHIFT            534478 non-null  object
 2   METHOD           534478 non-null  object
 3   OFFENSE          534478 non-null  object
 4   BLOCK            534476 non-null  object
 5   WARD             534478 non-null  float64
 6   ANC              534478 non-null  object
 7   DISTRICT         534433 non-null  float64
 8   PSA              534426 non-null  float64
 9   VOTING_PRECINCT  534460 non-null  object
 10  LATITUDE         534478 non-null  float64
 11  LONGITUDE        534478 non-null  float64
dtypes: float64(5), object(7)
memory usage: 53.0+ MB

In [101]:
df_final = df_combine.dropna()

In [102]:
df_final.info()

<class 'pandas.core.frame.DataFrame'>
Index: 534405 entries, 0 to 34214
Data columns (total 12 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   REPORT_DAT       534405 non-null  object
 1   SHIFT            534405 non-null  object
 2   METHOD           534405 non-null  object
 3   OFFENSE          534405 non-null  object
 4   BLOCK            534405 non-null  object
 5   WARD             534405 non-null  float64
 6   ANC              534405 non-null  object
 7   DISTRICT         534405 non-null  float64
 8   PSA              534405 non-null  float64
 9   VOTING_PRECINCT  534405 non-null  object
 10  LATITUDE         534405 non-null  float64
 11  LONGITUDE        534405 non-null  float64
dtypes: float64(5), object(7)
memory usage: 53.0+ MB

In [103]:
df_final.to_csv('combined_data.csv', index=False)