In [51]:
import pandas as pd

In [52]:
# Read all CSV file into a DataFrame

df2008 = pd.read_csv("/content/Crime_Incidents_in_2008.csv")
df2009 = pd.read_csv("/content/Crime_Incidents_in_2009.csv")
df2010 = pd.read_csv("/content/Crime_Incidents_in_2010.csv")
df2011 = pd.read_csv("/content/Crime_Incidents_in_2011.csv")
df2012 = pd.read_csv("/content/Crime_Incidents_in_2012.csv")
df2013 = pd.read_csv("/content/Crime_Incidents_in_2013.csv")
df2014 = pd.read_csv("/content/Crime_Incidents_in_2014.csv")
df2015 = pd.read_csv("/content/Crime_Incidents_in_2015.csv")
df2016 = pd.read_csv("/content/Crime_Incidents_in_2016.csv")
df2017 = pd.read_csv("/content/Crime_Incidents_in_2017.csv")
df2018 = pd.read_csv("/content/Crime_Incidents_in_2018.csv")
df2019 = pd.read_csv("/content/Crime_Incidents_in_2019.csv")
df2020 = pd.read_csv("/content/Crime_Incidents_in_2020.csv")
df2021 = pd.read_csv("/content/Crime_Incidents_in_2021.csv")
df2022 = pd.read_csv("/content/Crime_Incidents_in_2022.csv")
df2023 = pd.read_csv("/content/Crime_Incidents_in_2023.csv")

In [53]:
# Storing column names of all the dataframes

columns2008 = set(df2008.columns)
columns2009 = set(df2009.columns)
columns2010 = set(df2010.columns)
columns2011 = set(df2011.columns)
columns2012 = set(df2012.columns)
columns2013 = set(df2013.columns)
columns2014 = set(df2014.columns)
columns2015 = set(df2015.columns)
columns2016 = set(df2016.columns)
columns2017 = set(df2017.columns)
columns2018 = set(df2018.columns)
columns2019 = set(df2019.columns)
columns2020 = set(df2020.columns)
columns2021 = set(df2021.columns)
columns2022 = set(df2022.columns)
columns2023 = set(df2023.columns)

In [54]:
# Printing the column names to compare before merging the datasets

print(columns2008)
print(columns2009)
print(columns2010)
print(columns2011)
print(columns2012)
print(columns2013)
print(columns2014)
print(columns2015)
print(columns2016)
print(columns2017)
print(columns2018)
print(columns2019)
print(columns2020)
print(columns2021)
print(columns2022)
print(columns2023)

{'PSA', 'LATITUDE', 'OFFENSE', 'METHOD', 'BID', 'OBJECTID', 'X', 'VOTING_PRECINCT', 'YBLOCK', 'WARD', 'CCN', 'BLOCK', 'LONGITUDE', 'ANC', 'BLOCK_GROUP', 'REPORT_DAT', 'SHIFT', 'XBLOCK', 'Y', 'DISTRICT', 'CENSUS_TRACT', 'END_DATE', 'OCTO_RECORD_ID', 'NEIGHBORHOOD_CLUSTER', 'START_DATE'}
{'PSA', 'LATITUDE', 'OFFENSE', 'METHOD', 'BID', 'OBJECTID', 'X', 'VOTING_PRECINCT', 'YBLOCK', 'WARD', 'CCN', 'BLOCK', 'LONGITUDE', 'ANC', 'BLOCK_GROUP', 'REPORT_DAT', 'SHIFT', 'XBLOCK', 'Y', 'DISTRICT', 'CENSUS_TRACT', 'END_DATE', 'OCTO_RECORD_ID', 'NEIGHBORHOOD_CLUSTER', 'START_DATE'}
{'PSA', 'LATITUDE', 'OFFENSE', 'METHOD', 'BID', 'OBJECTID', 'X', 'VOTING_PRECINCT', 'YBLOCK', 'WARD', 'CCN', 'BLOCK', 'LONGITUDE', 'ANC', 'BLOCK_GROUP', 'REPORT_DAT', 'SHIFT', 'XBLOCK', 'Y', 'DISTRICT', 'CENSUS_TRACT', 'END_DATE', 'OCTO_RECORD_ID', 'NEIGHBORHOOD_CLUSTER', 'START_DATE'}
{'PSA', 'LATITUDE', 'OFFENSE', 'METHOD', 'BID', 'OBJECTID', 'X', 'VOTING_PRECINCT', 'YBLOCK', 'WARD', 'CCN', 'BLOCK', 'LONGITUDE', 'ANC', 'BLOCK_GROUP', 'REPORT_DAT', 'SHIFT', 'XBLOCK', 'Y', 'DISTRICT', 'CENSUS_TRACT', 'END_DATE', 'OCTO_RECORD_ID', 'NEIGHBORHOOD_CLUSTER', 'START_DATE'}
{'PSA', 'LATITUDE', 'OFFENSE', 'METHOD', 'BID', 'OBJECTID', 'X', 'VOTING_PRECINCT', 'YBLOCK', 'WARD', 'CCN', 'BLOCK', 'LONGITUDE', 'ANC', 'BLOCK_GROUP', 'REPORT_DAT', 'SHIFT', 'XBLOCK', 'Y', 'DISTRICT', 'CENSUS_TRACT', 'END_DATE', 'OCTO_RECORD_ID', 'NEIGHBORHOOD_CLUSTER', 'START_DATE'}
{'PSA', 'LATITUDE', 'OFFENSE', 'METHOD', 'BID', 'OBJECTID', 'X', 'VOTING_PRECINCT', 'YBLOCK', 'WARD', 'CCN', 'BLOCK', 'LONGITUDE', 'ANC', 'BLOCK_GROUP', 'REPORT_DAT', 'SHIFT', 'XBLOCK', 'Y', 'DISTRICT', 'CENSUS_TRACT', 'END_DATE', 'OCTO_RECORD_ID', 'NEIGHBORHOOD_CLUSTER', 'START_DATE'}
{'PSA', 'LATITUDE', 'OFFENSE', 'METHOD', 'BID', 'OBJECTID', 'X', 'VOTING_PRECINCT', 'YBLOCK', 'WARD', 'CCN', 'BLOCK', 'LONGITUDE', 'ANC', 'BLOCK_GROUP', 'REPORT_DAT', 'SHIFT', 'XBLOCK', 'Y', 'DISTRICT', 'CENSUS_TRACT', 'END_DATE', 'OCTO_RECORD_ID', 'NEIGHBORHOOD_CLUSTER', 'START_DATE'}
{'PSA', 'LATITUDE', 'OFFENSE', 'METHOD', 'BID', 'OBJECTID', 'X', 'VOTING_PRECINCT', 'YBLOCK', 'WARD', 'CCN', 'BLOCK', 'LONGITUDE', 'ANC', 'BLOCK_GROUP', 'REPORT_DAT', 'SHIFT', 'XBLOCK', 'Y', 'DISTRICT', 'CENSUS_TRACT', 'END_DATE', 'OCTO_RECORD_ID', 'NEIGHBORHOOD_CLUSTER', 'START_DATE'}
{'PSA', 'LATITUDE', 'OFFENSE', 'METHOD', 'BID', 'OBJECTID', 'X', 'VOTING_PRECINCT', 'YBLOCK', 'WARD', 'CCN', 'BLOCK', 'LONGITUDE', 'ANC', 'BLOCK_GROUP', 'REPORT_DAT', 'SHIFT', 'XBLOCK', 'Y', 'DISTRICT', 'CENSUS_TRACT', 'END_DATE', 'OCTO_RECORD_ID', 'NEIGHBORHOOD_CLUSTER', 'START_DATE'}
{'PSA', 'LATITUDE', 'OFFENSE', 'METHOD', 'BID', 'OBJECTID', 'X', 'VOTING_PRECINCT', 'YBLOCK', 'WARD', 'CCN', 'BLOCK', 'LONGITUDE', 'ANC', 'BLOCK_GROUP', 'REPORT_DAT', 'SHIFT', 'XBLOCK', 'Y', 'DISTRICT', 'CENSUS_TRACT', 'END_DATE', 'OCTO_RECORD_ID', 'NEIGHBORHOOD_CLUSTER', 'START_DATE'}
{'PSA', 'LATITUDE', 'OFFENSE', 'METHOD', 'BID', 'OBJECTID', 'X', 'VOTING_PRECINCT', 'YBLOCK', 'WARD', 'CCN', 'BLOCK', 'LONGITUDE', 'ANC', 'BLOCK_GROUP', 'REPORT_DAT', 'SHIFT', 'XBLOCK', 'Y', 'DISTRICT', 'CENSUS_TRACT', 'END_DATE', 'OCTO_RECORD_ID', 'NEIGHBORHOOD_CLUSTER', 'START_DATE'}
{'PSA', 'LATITUDE', 'OFFENSE', 'METHOD', 'BID', 'OBJECTID', 'X', 'VOTING_PRECINCT', 'YBLOCK', 'WARD', 'CCN', 'BLOCK', 'LONGITUDE', 'ANC', 'BLOCK_GROUP', 'REPORT_DAT', 'SHIFT', 'XBLOCK', 'Y', 'DISTRICT', 'CENSUS_TRACT', 'END_DATE', 'OCTO_RECORD_ID', 'NEIGHBORHOOD_CLUSTER', 'START_DATE'}
{'PSA', 'LATITUDE', 'OFFENSE', 'METHOD', 'BID', 'OBJECTID', 'X', 'VOTING_PRECINCT', 'YBLOCK', 'WARD', 'CCN', 'BLOCK', 'LONGITUDE', 'ANC', 'BLOCK_GROUP', 'REPORT_DAT', 'SHIFT', 'XBLOCK', 'Y', 'DISTRICT', 'CENSUS_TRACT', 'END_DATE', 'OCTO_RECORD_ID', 'NEIGHBORHOOD_CLUSTER', 'START_DATE'}
{'PSA', 'LATITUDE', 'OFFENSE', 'METHOD', 'BID', 'OBJECTID', 'X', 'VOTING_PRECINCT', 'YBLOCK', 'WARD', 'CCN', 'BLOCK', 'LONGITUDE', 'ANC', 'BLOCK_GROUP', 'REPORT_DAT', 'SHIFT', 'XBLOCK', 'Y', 'DISTRICT', 'CENSUS_TRACT', 'END_DATE', 'OCTO_RECORD_ID', 'NEIGHBORHOOD_CLUSTER', 'START_DATE'}
{'PSA', 'LATITUDE', 'OFFENSE', 'METHOD', 'BID', 'OBJECTID', 'X', 'VOTING_PRECINCT', 'YBLOCK', 'WARD', 'CCN', 'BLOCK', 'LONGITUDE', 'ANC', 'BLOCK_GROUP', 'REPORT_DAT', 'SHIFT', 'XBLOCK', 'Y', 'DISTRICT', 'CENSUS_TRACT', 'END_DATE', 'OCTO_RECORD_ID', 'NEIGHBORHOOD_CLUSTER', 'START_DATE'}
{'PSA', 'LATITUDE', 'OFFENSE', 'METHOD', 'BID', 'OBJECTID', 'X', 'VOTING_PRECINCT', 'YBLOCK', 'WARD', 'CCN', 'BLOCK', 'LONGITUDE', 'ANC', 'BLOCK_GROUP', 'REPORT_DAT', 'SHIFT', 'XBLOCK', 'Y', 'DISTRICT', 'CENSUS_TRACT', 'END_DATE', 'OCTO_RECORD_ID', 'NEIGHBORHOOD_CLUSTER', 'START_DATE'}

In [55]:
# List of dataframes from 2008 to 2023 and concat them

frames = [df2008, df2009, df2010, df2011, df2012, df2013, df2014, df2015, df2016, df2017, df2018, df2019, df2020, df2021, df2022, df2023]

df_combine = pd.concat(frames)

In [56]:
print(df_combine)

               X          Y       CCN              REPORT_DAT    SHIFT  \
0      402846.00  133805.00   8175440  2008/12/12 22:00:00+00  EVENING
1      400134.00  130213.00   8175469  2008/12/12 21:45:00+00  EVENING
2      396745.00  137321.00   8175472  2008/12/12 21:28:00+00  EVENING
3      397553.00  141435.00   8175489  2008/12/13 00:50:00+00  EVENING
4      396326.00  139306.00   8175494  2008/12/12 22:00:00+00  EVENING
...          ...        ...       ...                     ...      ...
34210  397700.46  136611.23  23425207  2023/11/30 21:41:51+00  EVENING
34211  397431.22  138854.61  23425538  2023/12/15 14:02:09+00      DAY
34212  397281.24  140197.68  23425565  2023/12/19 20:22:29+00  EVENING
34213  397655.47  139469.62  23425570  2023/12/20 12:41:42+00      DAY
34214  398192.91  141568.39  23425575  2023/12/20 13:01:08+00      DAY

       METHOD                     OFFENSE  \
0      OTHERS                 THEFT/OTHER
1      OTHERS  ASSAULT W/DANGEROUS WEAPON
2      OTHERS                 THEFT/OTHER
3      OTHERS                 THEFT/OTHER
4      OTHERS                 THEFT/OTHER
...       ...                         ...
34210  OTHERS                 THEFT/OTHER
34211  OTHERS                THEFT F/AUTO
34212  OTHERS                 THEFT/OTHER
34213  OTHERS                THEFT F/AUTO
34214  OTHERS                 THEFT/OTHER

                                             BLOCK     XBLOCK     YBLOCK  ...  \
0      2800 - 2821 BLOCK OF PENNSYLVANIA AVENUE SE  402846.00  133805.00  ...
1               3301 - 3699 BLOCK OF 6TH STREET SE  400134.00  130213.00  ...
2                 1600 - 1699 BLOCK OF L STREET NW  396745.00  137321.00  ...
3           1200  - 1299 BLOCK OF TAYLOR STREET NW  397553.00  141435.00  ...
4              2400 - 2499 BLOCK OF 18TH STREET NW  396326.00  139306.00  ...
...                                            ...        ...        ...  ...
34210             1000 - 1099 BLOCK OF F STREET NW  397700.46  136611.23  ...
34211          2000 - 2099 BLOCK OF 13TH STREET NW  397431.22  138854.61  ...
34212        1300 - 1399 BLOCK OF KENYON STREET NW  397281.24  140197.68  ...
34213          2500 - 2599 BLOCK OF 11TH STREET NW  397655.47  139469.62  ...
34214          600 - 699 BLOCK OF UPSHUR STREET NW  398192.91  141568.39  ...

       BLOCK_GROUP CENSUS_TRACT  VOTING_PRECINCT   LATITUDE  LONGITUDE  \
0         007604 3       7604.0     Precinct 111  38.872067 -76.967204
1         009804 2       9804.0     Precinct 122  38.839713 -76.998457
2         010700 1      10700.0      Precinct 17  38.903739 -77.037526
3         002502 1       2502.0      Precinct 47  38.940802 -77.028226
4         004002 1       4002.0      Precinct 25  38.921619 -77.042367
...            ...          ...              ...        ...        ...
34210     005802 5       5802.0     Precinct 129  38.897348 -77.026509
34211     004401 1       4401.0      Precinct 22  38.917556 -77.029621
34212     003000 1       3000.0      Precinct 39  38.929655 -77.031355
34213     003600 3       3600.0      Precinct 23  38.923097 -77.027037
34214     002400 3       2400.0      Precinct 45  38.942005 -77.020845

                   BID              START_DATE                END_DATE  \
0                  NaN  2008/12/12 17:00:00+00  2008/12/12 19:00:00+00
1                  NaN  2008/12/12 20:03:00+00  2008/12/12 05:00:00+00
2      GOLDEN TRIANGLE  2008/12/12 16:30:00+00  2008/12/12 20:30:00+00
3                  NaN  2008/12/12 21:15:00+00  2008/12/12 21:30:00+00
4         ADAMS MORGAN  2008/01/07 23:00:00+00  2008/01/07 23:20:00+00
...                ...                     ...                     ...
34210         DOWNTOWN  2023/11/21 18:57:00+00  2023/11/21 19:06:00+00
34211              NaN  2023/10/24 21:10:00+00  2023/10/24 23:00:00+00
34212              NaN  2023/12/12 04:50:00+00  2023/12/12 11:30:00+00
34213              NaN  2023/11/19 17:00:00+00  2023/11/20 05:00:00+00
34214              NaN  2023/12/07 03:08:00+00  2023/12/07 03:08:00+00

        OBJECTID  OCTO_RECORD_ID
0      591660807             NaN
1      591660808             NaN
2      591660809             NaN
3      591660810             NaN
4      591660811             NaN
...          ...             ...
34210  593873669             NaN
34211  593873670             NaN
34212  593873671             NaN
34213  593873672             NaN
34214  593873673             NaN

[532942 rows x 25 columns]

In [57]:
print(df_combine.info())

<class 'pandas.core.frame.DataFrame'>
Index: 532942 entries, 0 to 34214
Data columns (total 25 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   X                     532942 non-null  float64
 1   Y                     532942 non-null  float64
 2   CCN                   532942 non-null  int64
 3   REPORT_DAT            532942 non-null  object
 4   SHIFT                 532942 non-null  object
 5   METHOD                532942 non-null  object
 6   OFFENSE               532942 non-null  object
 7   BLOCK                 532940 non-null  object
 8   XBLOCK                532942 non-null  float64
 9   YBLOCK                532942 non-null  float64
 10  WARD                  532888 non-null  float64
 11  ANC                   532936 non-null  object
 12  DISTRICT              532143 non-null  float64
 13  PSA                   532066 non-null  float64
 14  NEIGHBORHOOD_CLUSTER  528364 non-null  object
 15  BLOCK_GROUP           531871 non-null  object
 16  CENSUS_TRACT          531873 non-null  float64
 17  VOTING_PRECINCT       532909 non-null  object
 18  LATITUDE              532942 non-null  float64
 19  LONGITUDE             532942 non-null  float64
 20  BID                   91817 non-null   object
 21  START_DATE            532919 non-null  object
 22  END_DATE              499130 non-null  object
 23  OBJECTID              532942 non-null  int64
 24  OCTO_RECORD_ID        0 non-null       float64
dtypes: float64(11), int64(2), object(12)
memory usage: 105.7+ MB
None

In [58]:
# Subset of the combined dataframe with only geographical info.

df_location_geog = df_combine[["BLOCK", "XBLOCK", "YBLOCK", "WARD", "ANC", "DISTRICT", "PSA", "NEIGHBORHOOD_CLUSTER", "VOTING_PRECINCT"]]

In [59]:
print(df_location_geog.info())

<class 'pandas.core.frame.DataFrame'>
Index: 532942 entries, 0 to 34214
Data columns (total 9 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   BLOCK                 532940 non-null  object
 1   XBLOCK                532942 non-null  float64
 2   YBLOCK                532942 non-null  float64
 3   WARD                  532888 non-null  float64
 4   ANC                   532936 non-null  object
 5   DISTRICT              532143 non-null  float64
 6   PSA                   532066 non-null  float64
 7   NEIGHBORHOOD_CLUSTER  528364 non-null  object
 8   VOTING_PRECINCT       532909 non-null  object
dtypes: float64(5), object(4)
memory usage: 40.7+ MB
None

In [60]:
# Dropping null values

df_location_geog_nonull = df_location_geog.dropna()

In [61]:
print(df_location_geog_nonull.info())

<class 'pandas.core.frame.DataFrame'>
Index: 527431 entries, 0 to 34214
Data columns (total 9 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   BLOCK                 527431 non-null  object
 1   XBLOCK                527431 non-null  float64
 2   YBLOCK                527431 non-null  float64
 3   WARD                  527431 non-null  float64
 4   ANC                   527431 non-null  object
 5   DISTRICT              527431 non-null  float64
 6   PSA                   527431 non-null  float64
 7   NEIGHBORHOOD_CLUSTER  527431 non-null  object
 8   VOTING_PRECINCT       527431 non-null  object
dtypes: float64(5), object(4)
memory usage: 40.2+ MB
None

In [62]:
print(df_location_geog_nonull.groupby(["BLOCK", "XBLOCK", "YBLOCK"]).size())

BLOCK                                 XBLOCK         YBLOCK
0 - 0 BLOCK OF 14TH STREET SW         396545.000000  134197.000000    1
0 - 0 BLOCK OF BEAUVOIR ROAD NW       394142.000000  140284.000000    2
0 - 0 BLOCK OF CEDAR DRIVE SE         400199.753694  131978.036696    1
0 - 0 BLOCK OF CHAIN BRIDGE NW        390103.000000  140235.000000    1
0 - 0 BLOCK OF CHEVY CHASE CIRCLE NW  393309.000000  144370.000000    2
                                                                     ..
YUMA STREET NW AND 48TH STREET NW     391821.850006  142047.880001    1
YUMA STREET SE AND 1ST STREET SE      399489.000000  129363.000000    1
YUMA STREET SE AND 8TH STREET SE      400465.000000  129355.000000    1
YUMA STREET SE AND 9TH STREET SE      400749.000000  129435.000000    3
YUMA STREET SE AND CONDON TERRACE SE  400064.000000  129363.000000    1
Length: 24266, dtype: int64

In [63]:
# Create a dictionary mapping (XBLOCK, YBLOCK) to BLOCK
block_mapping = dict(zip(zip(df_location_geog_nonull["XBLOCK"], df_location_geog_nonull["YBLOCK"]), df_location_geog_nonull["BLOCK"]))

# Define a custom function to fill in the missing BLOCK values
def fill_block(row):
    if pd.isna(row["BLOCK"]):  # If block is missing
        return block_mapping.get((row["XBLOCK"], row["YBLOCK"]), row["BLOCK"])
    return row["BLOCK"]

# Apply the function to the 'block' column
df_combine["BLOCK"] = df_combine.apply(fill_block, axis=1)

In [64]:
# Create a dictionary mapping (XBLOCK, YBLOCK) to WARD
Ward_mapping = dict(zip(zip(df_location_geog_nonull["XBLOCK"], df_location_geog_nonull["YBLOCK"]), df_location_geog_nonull["WARD"]))

# Define a custom function to fill in the missing WARD values
def fill_ward(row):
    if pd.isna(row["WARD"]):  # If block is missing
        return Ward_mapping.get((row["XBLOCK"], row["YBLOCK"]), row["WARD"])
    return row["WARD"]

# Apply the function to the 'WARD' column
df_combine["WARD"] = df_combine.apply(fill_ward, axis=1)

In [65]:
# Create a dictionary mapping (XBLOCK, YBLOCK) to ANC
ANC_mapping = dict(zip(zip(df_location_geog_nonull["XBLOCK"], df_location_geog_nonull["YBLOCK"]), df_location_geog_nonull["ANC"]))

# Define a custom function to fill in the missing ANC values
def fill_anc(row):
    if pd.isna(row["ANC"]):  # If ANC is missing
        return ANC_mapping.get((row["XBLOCK"], row["YBLOCK"]), row["ANC"])
    return row["ANC"]

# Apply the function to the 'ANC' column
df_combine["ANC"] = df_combine.apply(fill_anc, axis=1)

In [66]:
# Create a dictionary mapping (BLOCK, XBLOCK, YBLOCK, WARD, ANC) to DISTRICT
DISTRICT_mapping = dict(zip(zip(df_location_geog_nonull["BLOCK"], df_location_geog_nonull["XBLOCK"], df_location_geog_nonull["YBLOCK"], df_location_geog_nonull["WARD"], df_location_geog_nonull["ANC"]), df_location_geog_nonull["DISTRICT"]))

# Define a custom function to fill in the missing DISTRICT values
def fill_district(row):
    if pd.isna(row["DISTRICT"]):  # If DISTRICT is missing
        return DISTRICT_mapping.get((row["BLOCK"], row["XBLOCK"], row["YBLOCK"], row["WARD"], row["ANC"]), row["DISTRICT"])
    return row["DISTRICT"]

# Apply the function to the 'DISTRICT' column
df_combine["DISTRICT"] = df_combine.apply(fill_district, axis=1)

In [67]:
# Create a dictionary mapping (BLOCK, XBLOCK, YBLOCK, WARD, ANC, DISTRICT) to PSA
PSA_mapping = dict(zip(zip(df_location_geog_nonull["BLOCK"], df_location_geog_nonull["XBLOCK"], df_location_geog_nonull["YBLOCK"], df_location_geog_nonull["WARD"], df_location_geog_nonull["ANC"], df_location_geog_nonull["DISTRICT"]), df_location_geog_nonull["PSA"]))

# Define a custom function to fill in the missing PSA values
def fill_psa(row):
    if pd.isna(row["PSA"]):  # If PSA is missing
        return PSA_mapping.get((row["BLOCK"], row["XBLOCK"], row["YBLOCK"], row["WARD"], row["ANC"], row["DISTRICT"]), row["PSA"])
    return row["PSA"]

# Apply the function to the 'PSA' column
df_combine["PSA"] = df_combine.apply(fill_psa, axis=1)

In [68]:
# Create a dictionary mapping (BLOCK, XBLOCK, YBLOCK, WARD, ANC, DISTRICT, PSA) to NEIGHBORHOOD_CLUSTER
NEIGHBORHOOD_CLUSTER_mapping = dict(zip(zip(df_location_geog_nonull["BLOCK"], df_location_geog_nonull["XBLOCK"], df_location_geog_nonull["YBLOCK"], df_location_geog_nonull["WARD"], df_location_geog_nonull["ANC"], df_location_geog_nonull["DISTRICT"], df_location_geog_nonull["PSA"]), df_location_geog_nonull["NEIGHBORHOOD_CLUSTER"]))

# Define a custom function to fill in the missing NEIGHBORHOOD_CLUSTER values
def fill_ward(row):
    if pd.isna(row["NEIGHBORHOOD_CLUSTER"]):  # If NEIGHBORHOOD_CLUSTER is missing
        return NEIGHBORHOOD_CLUSTER_mapping.get((row["BLOCK"], row["XBLOCK"], row["YBLOCK"], row["WARD"], row["ANC"], row["DISTRICT"], row["PSA"]), row["NEIGHBORHOOD_CLUSTER"])
    return row["NEIGHBORHOOD_CLUSTER"]

# Apply the function to the 'NEIGHBORHOOD_CLUSTER' column
df_combine["NEIGHBORHOOD_CLUSTER"] = df_combine.apply(fill_ward, axis=1)

In [69]:
# Create a dictionary mapping (BLOCK, XBLOCK, YBLOCK, WARD, ANC, DISTRICT, PSA, NEIGHBORHOOD_CLUSTER) to VOTING_PRECINCT
VOTING_PRECINCT_mapping = dict(zip(zip(df_location_geog_nonull["BLOCK"], df_location_geog_nonull["XBLOCK"], df_location_geog_nonull["YBLOCK"], df_location_geog_nonull["WARD"], df_location_geog_nonull["ANC"], df_location_geog_nonull["DISTRICT"], df_location_geog_nonull["PSA"], df_location_geog_nonull["NEIGHBORHOOD_CLUSTER"]), df_location_geog_nonull["VOTING_PRECINCT"]))

# Define a custom function to fill in the missing VOTING_PRECINCT values
def fill_ward(row):
    if pd.isna(row["VOTING_PRECINCT"]):  # If VOTING_PRECINCT is missing
        return VOTING_PRECINCT_mapping.get((row["BLOCK"], row["XBLOCK"], row["YBLOCK"], row["WARD"], row["ANC"], row["DISTRICT"], row["PSA"], row["NEIGHBORHOOD_CLUSTER"]), row["VOTING_PRECINCT"])
    return row["VOTING_PRECINCT"]

# Apply the function to the 'VOTING_PRECINCT' column
df_combine["VOTING_PRECINCT"] = df_combine.apply(fill_ward, axis=1)

In [70]:
print(df_combine.info())

<class 'pandas.core.frame.DataFrame'>
Index: 532942 entries, 0 to 34214
Data columns (total 25 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   X                     532942 non-null  float64
 1   Y                     532942 non-null  float64
 2   CCN                   532942 non-null  int64
 3   REPORT_DAT            532942 non-null  object
 4   SHIFT                 532942 non-null  object
 5   METHOD                532942 non-null  object
 6   OFFENSE               532942 non-null  object
 7   BLOCK                 532941 non-null  object
 8   XBLOCK                532942 non-null  float64
 9   YBLOCK                532942 non-null  float64
 10  WARD                  532942 non-null  float64
 11  ANC                   532942 non-null  object
 12  DISTRICT              532897 non-null  float64
 13  PSA                   532890 non-null  float64
 14  NEIGHBORHOOD_CLUSTER  531518 non-null  object
 15  BLOCK_GROUP           531871 non-null  object
 16  CENSUS_TRACT          531873 non-null  float64
 17  VOTING_PRECINCT       532925 non-null  object
 18  LATITUDE              532942 non-null  float64
 19  LONGITUDE             532942 non-null  float64
 20  BID                   91817 non-null   object
 21  START_DATE            532919 non-null  object
 22  END_DATE              499130 non-null  object
 23  OBJECTID              532942 non-null  int64
 24  OCTO_RECORD_ID        0 non-null       float64
dtypes: float64(11), int64(2), object(12)
memory usage: 105.7+ MB
None

In [71]:
# Dropping columns that we do not need

df_combine.drop("X", axis=1, inplace=True)
df_combine.drop("Y", axis=1, inplace=True)
df_combine.drop("CCN", axis=1, inplace=True)
df_combine.drop("XBLOCK", axis=1, inplace=True)
df_combine.drop("YBLOCK", axis=1, inplace=True)
df_combine.drop("NEIGHBORHOOD_CLUSTER", axis=1, inplace=True)
df_combine.drop("BLOCK_GROUP", axis=1, inplace=True)
df_combine.drop("CENSUS_TRACT", axis=1, inplace=True)
df_combine.drop("BID", axis=1, inplace=True)
df_combine.drop("START_DATE", axis=1, inplace=True)
df_combine.drop("END_DATE", axis=1, inplace=True)
df_combine.drop("OBJECTID", axis=1, inplace=True)
df_combine.drop("OCTO_RECORD_ID", axis=1, inplace=True)

In [72]:
print(df_combine.info())

<class 'pandas.core.frame.DataFrame'>
Index: 532942 entries, 0 to 34214
Data columns (total 12 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   REPORT_DAT       532942 non-null  object
 1   SHIFT            532942 non-null  object
 2   METHOD           532942 non-null  object
 3   OFFENSE          532942 non-null  object
 4   BLOCK            532941 non-null  object
 5   WARD             532942 non-null  float64
 6   ANC              532942 non-null  object
 7   DISTRICT         532897 non-null  float64
 8   PSA              532890 non-null  float64
 9   VOTING_PRECINCT  532925 non-null  object
 10  LATITUDE         532942 non-null  float64
 11  LONGITUDE        532942 non-null  float64
dtypes: float64(5), object(7)
memory usage: 52.9+ MB
None

In [73]:
# dropping rows with null values

df_final = df_combine.dropna()

In [74]:
print(df_final.info())

<class 'pandas.core.frame.DataFrame'>
Index: 532871 entries, 0 to 34214
Data columns (total 12 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   REPORT_DAT       532871 non-null  object
 1   SHIFT            532871 non-null  object
 2   METHOD           532871 non-null  object
 3   OFFENSE          532871 non-null  object
 4   BLOCK            532871 non-null  object
 5   WARD             532871 non-null  float64
 6   ANC              532871 non-null  object
 7   DISTRICT         532871 non-null  float64
 8   PSA              532871 non-null  float64
 9   VOTING_PRECINCT  532871 non-null  object
 10  LATITUDE         532871 non-null  float64
 11  LONGITUDE        532871 non-null  float64
dtypes: float64(5), object(7)
memory usage: 52.9+ MB
None

In [75]:
print(df_final["REPORT_DAT"].head(10))

0    2008/12/12 22:00:00+00
1    2008/12/12 21:45:00+00
2    2008/12/12 21:28:00+00
3    2008/12/13 00:50:00+00
4    2008/12/12 22:00:00+00
5    2008/12/12 22:42:00+00
6    2008/12/12 23:22:00+00
7    2008/12/17 16:50:00+00
8    2008/12/17 16:00:00+00
9    2008/12/17 17:55:00+00
Name: REPORT_DAT, dtype: object

In [76]:
# Splitting REPORT_DAT into Year, Month, Day, Hour and Minute

df_final["YEAR"] = df_final["REPORT_DAT"].str[0:4]
df_final["MONTH"] = df_final["REPORT_DAT"].str[5:7]
df_final["DAY"] = df_final["REPORT_DAT"].str[8:10]
df_final["HOUR"] = df_final["REPORT_DAT"].str[11:13]
df_final["MINUTE"] = df_final["REPORT_DAT"].str[14:16]

<ipython-input-76-b5a1cbba05c2>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_final["YEAR"] = df_final["REPORT_DAT"].str[0:4]
<ipython-input-76-b5a1cbba05c2>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_final["MONTH"] = df_final["REPORT_DAT"].str[5:7]
<ipython-input-76-b5a1cbba05c2>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_final["DAY"] = df_final["REPORT_DAT"].str[8:10]
<ipython-input-76-b5a1cbba05c2>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_final["HOUR"] = df_final["REPORT_DAT"].str[11:13]
<ipython-input-76-b5a1cbba05c2>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_final["MINUTE"] = df_final["REPORT_DAT"].str[14:16]

In [77]:
print(df_final.info())

<class 'pandas.core.frame.DataFrame'>
Index: 532871 entries, 0 to 34214
Data columns (total 17 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   REPORT_DAT       532871 non-null  object
 1   SHIFT            532871 non-null  object
 2   METHOD           532871 non-null  object
 3   OFFENSE          532871 non-null  object
 4   BLOCK            532871 non-null  object
 5   WARD             532871 non-null  float64
 6   ANC              532871 non-null  object
 7   DISTRICT         532871 non-null  float64
 8   PSA              532871 non-null  float64
 9   VOTING_PRECINCT  532871 non-null  object
 10  LATITUDE         532871 non-null  float64
 11  LONGITUDE        532871 non-null  float64
 12  YEAR             532871 non-null  object
 13  MONTH            532871 non-null  object
 14  DAY              532871 non-null  object
 15  HOUR             532871 non-null  object
 16  MINUTE           532871 non-null  object
dtypes: float64(5), object(12)
memory usage: 73.2+ MB
None

In [78]:
df_final.drop("REPORT_DAT", axis=1, inplace=True)

<ipython-input-78-e8881dffa3c8>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_final.drop("REPORT_DAT", axis=1, inplace=True)

In [79]:
# Rearranging Columns

df_final = df_final[["YEAR", "MONTH", "DAY", "HOUR", "MINUTE", "SHIFT", "METHOD", "OFFENSE", "BLOCK", "WARD", "ANC", "DISTRICT", "PSA", "VOTING_PRECINCT", "LATITUDE", "LONGITUDE"]]

In [80]:
print(df_final.info())

<class 'pandas.core.frame.DataFrame'>
Index: 532871 entries, 0 to 34214
Data columns (total 16 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   YEAR             532871 non-null  object
 1   MONTH            532871 non-null  object
 2   DAY              532871 non-null  object
 3   HOUR             532871 non-null  object
 4   MINUTE           532871 non-null  object
 5   SHIFT            532871 non-null  object
 6   METHOD           532871 non-null  object
 7   OFFENSE          532871 non-null  object
 8   BLOCK            532871 non-null  object
 9   WARD             532871 non-null  float64
 10  ANC              532871 non-null  object
 11  DISTRICT         532871 non-null  float64
 12  PSA              532871 non-null  float64
 13  VOTING_PRECINCT  532871 non-null  object
 14  LATITUDE         532871 non-null  float64
 15  LONGITUDE        532871 non-null  float64
dtypes: float64(5), object(11)
memory usage: 69.1+ MB
None

In [81]:
df_final.head(10)

,YEAR,MONTH,DAY,HOUR,MINUTE,SHIFT,METHOD,OFFENSE,BLOCK,WARD,ANC,DISTRICT,PSA,VOTING_PRECINCT,LATITUDE,LONGITUDE
0,2008,12,12,22,00,EVENING,OTHERS,THEFT/OTHER,2800 - 2821 BLOCK OF PENNSYLVANIA AVENUE SE,7.0,7B,6.0,605.0,Precinct 111,38.872067,-76.967204
1,2008,12,12,21,45,EVENING,OTHERS,ASSAULT W/DANGEROUS WEAPON,3301 - 3699 BLOCK OF 6TH STREET SE,8.0,8C,7.0,705.0,Precinct 122,38.839713,-76.998457
2,2008,12,12,21,28,EVENING,OTHERS,THEFT/OTHER,1600 - 1699 BLOCK OF L STREET NW,2.0,2B,2.0,207.0,Precinct 17,38.903739,-77.037526
3,2008,12,13,00,50,EVENING,OTHERS,THEFT/OTHER,1200 - 1299 BLOCK OF TAYLOR STREET NW,4.0,4C,4.0,404.0,Precinct 47,38.940802,-77.028226
4,2008,12,12,22,00,EVENING,OTHERS,THEFT/OTHER,2400 - 2499 BLOCK OF 18TH STREET NW,1.0,1C,3.0,303.0,Precinct 25,38.921619,-77.042367
5,2008,12,12,22,42,EVENING,OTHERS,THEFT/OTHER,200 - 299 BLOCK OF 10TH STREET NE,6.0,6A,1.0,108.0,Precinct 85,38.892790,-76.992657
6,2008,12,12,23,22,EVENING,OTHERS,ROBBERY,1601 - 1699 BLOCK OF ARGONNE PLACE NW,1.0,1C,3.0,303.0,Precinct 35,38.926466,-77.038403
7,2008,12,17,16,50,DAY,OTHERS,MOTOR VEHICLE THEFT,500 - 599 BLOCK OF 23RD PLACE NE,7.0,7D,5.0,507.0,Precinct 80,38.897202,-76.973382
8,2008,12,17,16,00,DAY,OTHERS,BURGLARY,1100 - 1199 BLOCK OF VARNEY STREET SE,8.0,8E,7.0,706.0,Precinct 121,38.836199,-76.988712
9,2008,12,17,17,55,DAY,OTHERS,THEFT/OTHER,5700 - 5717 BLOCK OF 5TH STREET NW,4.0,4B,4.0,402.0,Precinct 58,38.959090,-77.019903

In [82]:
# Finalizing data types for each column

df_final["YEAR"] = df_final["YEAR"].astype(int)
df_final["MONTH"] = df_final["MONTH"].astype(int)
df_final["DAY"] = df_final["DAY"].astype(int)
df_final["HOUR"] = df_final["HOUR"].astype(int)
df_final["MINUTE"] = df_final["MINUTE"].astype(int)
df_final["SHIFT"] = df_final["SHIFT"].astype("category")
df_final["METHOD"] = df_final["METHOD"].astype("category")
df_final["OFFENSE"] = df_final["OFFENSE"].astype("category")
df_final["BLOCK"] = df_final["BLOCK"].astype(str)
df_final["WARD"] = df_final["WARD"].astype(int)
df_final["ANC"] = df_final["ANC"].astype("category")
df_final["DISTRICT"] = df_final["DISTRICT"].astype(int)
df_final["PSA"] = df_final["PSA"].astype(int)
df_final["VOTING_PRECINCT"] = df_final["VOTING_PRECINCT"].astype("category")

In [83]:
# Merging 2 categories in offense - THEFT/OTHER and THEFT F/AUTO to THEFT

df_final["OFFENSE"] = df_final["OFFENSE"].replace({"THEFT/OTHER": "THEFT", "THEFT F/AUTO": "THEFT"})

In [84]:
df_final["OFFENSE"].value_counts()

OFFENSE
THEFT                         349651
MOTOR VEHICLE THEFT            55378
ROBBERY                        49315
BURGLARY                       38994
ASSAULT W/DANGEROUS WEAPON     33019
SEX ABUSE                       3663
HOMICIDE                        2477
ARSON                            374
Name: count, dtype: int64

In [85]:
print(df_final.info())

<class 'pandas.core.frame.DataFrame'>
Index: 532871 entries, 0 to 34214
Data columns (total 16 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   YEAR             532871 non-null  int64
 1   MONTH            532871 non-null  int64
 2   DAY              532871 non-null  int64
 3   HOUR             532871 non-null  int64
 4   MINUTE           532871 non-null  int64
 5   SHIFT            532871 non-null  category
 6   METHOD           532871 non-null  category
 7   OFFENSE          532871 non-null  category
 8   BLOCK            532871 non-null  object
 9   WARD             532871 non-null  int64
 10  ANC              532871 non-null  category
 11  DISTRICT         532871 non-null  int64
 12  PSA              532871 non-null  int64
 13  VOTING_PRECINCT  532871 non-null  category
 14  LATITUDE         532871 non-null  float64
 15  LONGITUDE        532871 non-null  float64
dtypes: category(5), float64(2), int64(8), object(1)
memory usage: 51.8+ MB
None

In [86]:
# Saving the dataset into a csv file

df_final.to_csv('combined_data.csv', index=False)