In [1]:
import pandas as pd

In [2]:
# Read all CSV file into a DataFrame

df2008 = pd.read_csv("/content/Crime_Incidents_in_2008.csv")
df2009 = pd.read_csv("/content/Crime_Incidents_in_2009.csv")
df2010 = pd.read_csv("/content/Crime_Incidents_in_2010.csv")
df2011 = pd.read_csv("/content/Crime_Incidents_in_2011.csv")
df2012 = pd.read_csv("/content/Crime_Incidents_in_2012.csv")
df2013 = pd.read_csv("/content/Crime_Incidents_in_2013.csv")
df2014 = pd.read_csv("/content/Crime_Incidents_in_2014.csv")
df2015 = pd.read_csv("/content/Crime_Incidents_in_2015.csv")
df2016 = pd.read_csv("/content/Crime_Incidents_in_2016.csv")
df2017 = pd.read_csv("/content/Crime_Incidents_in_2017.csv")
df2018 = pd.read_csv("/content/Crime_Incidents_in_2018.csv")
df2019 = pd.read_csv("/content/Crime_Incidents_in_2019.csv")
df2020 = pd.read_csv("/content/Crime_Incidents_in_2020.csv")
df2021 = pd.read_csv("/content/Crime_Incidents_in_2021.csv")
df2022 = pd.read_csv("/content/Crime_Incidents_in_2022.csv")
df2023 = pd.read_csv("/content/Crime_Incidents_in_2023.csv")
df2024 = pd.read_csv("/content/Crime_Incidents_in_2024_ThroughSept.csv")

In [3]:
# Storing column names of all the dataframes

columns2008 = set(df2008.columns)
columns2009 = set(df2009.columns)
columns2010 = set(df2010.columns)
columns2011 = set(df2011.columns)
columns2012 = set(df2012.columns)
columns2013 = set(df2013.columns)
columns2014 = set(df2014.columns)
columns2015 = set(df2015.columns)
columns2016 = set(df2016.columns)
columns2017 = set(df2017.columns)
columns2018 = set(df2018.columns)
columns2019 = set(df2019.columns)
columns2020 = set(df2020.columns)
columns2021 = set(df2021.columns)
columns2022 = set(df2022.columns)
columns2023 = set(df2023.columns)
columns2024 = set(df2024.columns)

In [4]:
# Printing the column names to compare before merging the datasets

print(columns2008)
print(columns2009)
print(columns2010)
print(columns2011)
print(columns2012)
print(columns2013)
print(columns2014)
print(columns2015)
print(columns2016)
print(columns2017)
print(columns2018)
print(columns2019)
print(columns2020)
print(columns2021)
print(columns2022)
print(columns2023)
print(columns2024)

{'END_DATE', 'PSA', 'SHIFT', 'VOTING_PRECINCT', 'OBJECTID', 'YBLOCK', 'CCN', 'METHOD', 'OCTO_RECORD_ID', 'NEIGHBORHOOD_CLUSTER', 'XBLOCK', 'WARD', 'DISTRICT', 'BLOCK', 'Y', 'BLOCK_GROUP', 'X', 'ANC', 'OFFENSE', 'REPORT_DAT', 'LATITUDE', 'BID', 'LONGITUDE', 'START_DATE', 'CENSUS_TRACT'}
{'END_DATE', 'PSA', 'SHIFT', 'VOTING_PRECINCT', 'OBJECTID', 'YBLOCK', 'CCN', 'METHOD', 'OCTO_RECORD_ID', 'NEIGHBORHOOD_CLUSTER', 'XBLOCK', 'WARD', 'DISTRICT', 'BLOCK', 'Y', 'BLOCK_GROUP', 'X', 'ANC', 'OFFENSE', 'REPORT_DAT', 'LATITUDE', 'BID', 'LONGITUDE', 'START_DATE', 'CENSUS_TRACT'}
{'END_DATE', 'PSA', 'SHIFT', 'VOTING_PRECINCT', 'OBJECTID', 'YBLOCK', 'CCN', 'METHOD', 'OCTO_RECORD_ID', 'NEIGHBORHOOD_CLUSTER', 'XBLOCK', 'WARD', 'DISTRICT', 'BLOCK', 'Y', 'BLOCK_GROUP', 'X', 'ANC', 'OFFENSE', 'REPORT_DAT', 'LATITUDE', 'BID', 'LONGITUDE', 'START_DATE', 'CENSUS_TRACT'}
{'END_DATE', 'PSA', 'SHIFT', 'VOTING_PRECINCT', 'OBJECTID', 'YBLOCK', 'CCN', 'METHOD', 'OCTO_RECORD_ID', 'NEIGHBORHOOD_CLUSTER', 'XBLOCK', 'WARD', 'DISTRICT', 'BLOCK', 'Y', 'BLOCK_GROUP', 'X', 'ANC', 'OFFENSE', 'REPORT_DAT', 'LATITUDE', 'BID', 'LONGITUDE', 'START_DATE', 'CENSUS_TRACT'}
{'END_DATE', 'PSA', 'SHIFT', 'VOTING_PRECINCT', 'OBJECTID', 'YBLOCK', 'CCN', 'METHOD', 'OCTO_RECORD_ID', 'NEIGHBORHOOD_CLUSTER', 'XBLOCK', 'WARD', 'DISTRICT', 'BLOCK', 'Y', 'BLOCK_GROUP', 'X', 'ANC', 'OFFENSE', 'REPORT_DAT', 'LATITUDE', 'BID', 'LONGITUDE', 'START_DATE', 'CENSUS_TRACT'}
{'END_DATE', 'PSA', 'SHIFT', 'VOTING_PRECINCT', 'OBJECTID', 'YBLOCK', 'CCN', 'METHOD', 'OCTO_RECORD_ID', 'NEIGHBORHOOD_CLUSTER', 'XBLOCK', 'WARD', 'DISTRICT', 'BLOCK', 'Y', 'BLOCK_GROUP', 'X', 'ANC', 'OFFENSE', 'REPORT_DAT', 'LATITUDE', 'BID', 'LONGITUDE', 'START_DATE', 'CENSUS_TRACT'}
{'END_DATE', 'PSA', 'SHIFT', 'VOTING_PRECINCT', 'OBJECTID', 'YBLOCK', 'CCN', 'METHOD', 'OCTO_RECORD_ID', 'NEIGHBORHOOD_CLUSTER', 'XBLOCK', 'WARD', 'DISTRICT', 'BLOCK', 'Y', 'BLOCK_GROUP', 'X', 'ANC', 'OFFENSE', 'REPORT_DAT', 'LATITUDE', 'BID', 'LONGITUDE', 'START_DATE', 'CENSUS_TRACT'}
{'END_DATE', 'PSA', 'SHIFT', 'VOTING_PRECINCT', 'OBJECTID', 'YBLOCK', 'CCN', 'METHOD', 'OCTO_RECORD_ID', 'NEIGHBORHOOD_CLUSTER', 'XBLOCK', 'WARD', 'DISTRICT', 'BLOCK', 'Y', 'BLOCK_GROUP', 'X', 'ANC', 'OFFENSE', 'REPORT_DAT', 'LATITUDE', 'BID', 'LONGITUDE', 'START_DATE', 'CENSUS_TRACT'}
{'END_DATE', 'PSA', 'SHIFT', 'VOTING_PRECINCT', 'OBJECTID', 'YBLOCK', 'CCN', 'METHOD', 'OCTO_RECORD_ID', 'NEIGHBORHOOD_CLUSTER', 'XBLOCK', 'WARD', 'DISTRICT', 'BLOCK', 'Y', 'BLOCK_GROUP', 'X', 'ANC', 'OFFENSE', 'REPORT_DAT', 'LATITUDE', 'BID', 'LONGITUDE', 'START_DATE', 'CENSUS_TRACT'}
{'END_DATE', 'PSA', 'SHIFT', 'VOTING_PRECINCT', 'OBJECTID', 'YBLOCK', 'CCN', 'METHOD', 'OCTO_RECORD_ID', 'NEIGHBORHOOD_CLUSTER', 'XBLOCK', 'WARD', 'DISTRICT', 'BLOCK', 'Y', 'BLOCK_GROUP', 'X', 'ANC', 'OFFENSE', 'REPORT_DAT', 'LATITUDE', 'BID', 'LONGITUDE', 'START_DATE', 'CENSUS_TRACT'}
{'END_DATE', 'PSA', 'SHIFT', 'VOTING_PRECINCT', 'OBJECTID', 'YBLOCK', 'CCN', 'METHOD', 'OCTO_RECORD_ID', 'NEIGHBORHOOD_CLUSTER', 'XBLOCK', 'WARD', 'DISTRICT', 'BLOCK', 'Y', 'BLOCK_GROUP', 'X', 'ANC', 'OFFENSE', 'REPORT_DAT', 'LATITUDE', 'BID', 'LONGITUDE', 'START_DATE', 'CENSUS_TRACT'}
{'END_DATE', 'PSA', 'SHIFT', 'VOTING_PRECINCT', 'OBJECTID', 'YBLOCK', 'CCN', 'METHOD', 'OCTO_RECORD_ID', 'NEIGHBORHOOD_CLUSTER', 'XBLOCK', 'WARD', 'DISTRICT', 'BLOCK', 'Y', 'BLOCK_GROUP', 'X', 'ANC', 'OFFENSE', 'REPORT_DAT', 'LATITUDE', 'BID', 'LONGITUDE', 'START_DATE', 'CENSUS_TRACT'}
{'END_DATE', 'PSA', 'SHIFT', 'VOTING_PRECINCT', 'OBJECTID', 'YBLOCK', 'CCN', 'METHOD', 'OCTO_RECORD_ID', 'NEIGHBORHOOD_CLUSTER', 'XBLOCK', 'WARD', 'DISTRICT', 'BLOCK', 'Y', 'BLOCK_GROUP', 'X', 'ANC', 'OFFENSE', 'REPORT_DAT', 'LATITUDE', 'BID', 'LONGITUDE', 'START_DATE', 'CENSUS_TRACT'}
{'END_DATE', 'PSA', 'SHIFT', 'VOTING_PRECINCT', 'OBJECTID', 'YBLOCK', 'CCN', 'METHOD', 'OCTO_RECORD_ID', 'NEIGHBORHOOD_CLUSTER', 'XBLOCK', 'WARD', 'DISTRICT', 'BLOCK', 'Y', 'BLOCK_GROUP', 'X', 'ANC', 'OFFENSE', 'REPORT_DAT', 'LATITUDE', 'BID', 'LONGITUDE', 'START_DATE', 'CENSUS_TRACT'}
{'END_DATE', 'PSA', 'SHIFT', 'VOTING_PRECINCT', 'OBJECTID', 'YBLOCK', 'CCN', 'METHOD', 'OCTO_RECORD_ID', 'NEIGHBORHOOD_CLUSTER', 'XBLOCK', 'WARD', 'DISTRICT', 'BLOCK', 'Y', 'BLOCK_GROUP', 'X', 'ANC', 'OFFENSE', 'REPORT_DAT', 'LATITUDE', 'BID', 'LONGITUDE', 'START_DATE', 'CENSUS_TRACT'}
{'END_DATE', 'PSA', 'SHIFT', 'VOTING_PRECINCT', 'OBJECTID', 'YBLOCK', 'CCN', 'METHOD', 'OCTO_RECORD_ID', 'NEIGHBORHOOD_CLUSTER', 'XBLOCK', 'WARD', 'DISTRICT', 'BLOCK', 'Y', 'BLOCK_GROUP', 'X', 'ANC', 'OFFENSE', 'REPORT_DAT', 'LATITUDE', 'BID', 'LONGITUDE', 'START_DATE', 'CENSUS_TRACT'}
{'END_DATE', 'PSA', 'SHIFT', 'VOTING_PRECINCT', 'OBJECTID', 'YBLOCK', 'CCN', 'METHOD', 'OCTO_RECORD_ID', 'NEIGHBORHOOD_CLUSTER', 'XBLOCK', 'WARD', 'DISTRICT', 'BLOCK', 'Y', 'BLOCK_GROUP', 'X', 'ANC', 'OFFENSE', 'REPORT_DAT', 'LATITUDE', 'BID', 'LONGITUDE', 'START_DATE', 'CENSUS_TRACT'}

In [5]:
# List of dataframes from 2008 to 2023 and concat them

frames = [df2008, df2009, df2010, df2011, df2012, df2013, df2014, df2015, df2016, df2017, df2018, df2019, df2020, df2021, df2022, df2023, df2024]

df_combine = pd.concat(frames)

In [6]:
print(df_combine)

               X          Y       CCN              REPORT_DAT     SHIFT  \
0      402846.00  133805.00   8175440  2008/12/12 22:00:00+00   EVENING
1      400134.00  130213.00   8175469  2008/12/12 21:45:00+00   EVENING
2      396745.00  137321.00   8175472  2008/12/12 21:28:00+00   EVENING
3      397553.00  141435.00   8175489  2008/12/13 00:50:00+00   EVENING
4      396326.00  139306.00   8175494  2008/12/12 22:00:00+00   EVENING
...          ...        ...       ...                     ...       ...
21251  401207.33  137638.02  24000023  2024/01/01 05:57:47+00  MIDNIGHT
21252  398596.63  141405.06  24000010  2024/01/01 05:27:45+00  MIDNIGHT
21253  400354.45  130763.94  24000005  2024/01/01 05:17:09+00  MIDNIGHT
21254  397228.91  138593.06  23211950  2024/01/01 05:16:54+00  MIDNIGHT
21255  392672.12  143682.06  24000091  2024/01/01 05:00:00+00  MIDNIGHT

       METHOD                     OFFENSE  \
0      OTHERS                 THEFT/OTHER
1      OTHERS  ASSAULT W/DANGEROUS WEAPON
2      OTHERS                 THEFT/OTHER
3      OTHERS                 THEFT/OTHER
4      OTHERS                 THEFT/OTHER
...       ...                         ...
21251  OTHERS         MOTOR VEHICLE THEFT
21252  OTHERS                THEFT F/AUTO
21253  OTHERS                     ROBBERY
21254  OTHERS                     ROBBERY
21255     GUN                    HOMICIDE

                                             BLOCK     XBLOCK     YBLOCK  ...  \
0      2800 - 2821 BLOCK OF PENNSYLVANIA AVENUE SE  402846.00  133805.00  ...
1               3301 - 3699 BLOCK OF 6TH STREET SE  400134.00  130213.00  ...
2                 1600 - 1699 BLOCK OF L STREET NW  396745.00  137321.00  ...
3           1200  - 1299 BLOCK OF TAYLOR STREET NW  397553.00  141435.00  ...
4              2400 - 2499 BLOCK OF 18TH STREET NW  396326.00  139306.00  ...
...                                            ...        ...        ...  ...
21251         1200 - 1259 BLOCK OF QUEEN STREET NE  401207.33  137638.02  ...
21252       4000 - 4099 BLOCK OF MARLBORO PLACE NW  398596.63  141405.06  ...
21253           3000 - 3020 BLOCK OF 7TH STREET SE  400354.45  130763.94  ...
21254          1820 - 1899 BLOCK OF 14TH STREET NW  397228.91  138593.06  ...
21255        4300 - 4399 BLOCK OF MILITARY ROAD NW  392672.12  143682.06  ...

       BLOCK_GROUP CENSUS_TRACT  VOTING_PRECINCT   LATITUDE  LONGITUDE  \
0         007604 3       7604.0     Precinct 111  38.872067 -76.967204
1         009804 2       9804.0     Precinct 122  38.839713 -76.998457
2         010700 1      10700.0      Precinct 17  38.903739 -77.037526
3         002502 1       2502.0      Precinct 47  38.940802 -77.028226
4         004002 1       4002.0      Precinct 25  38.921619 -77.042367
...            ...          ...              ...        ...        ...
21251     008804 1       8804.0      Precinct 78  38.906600 -76.986080
21252     002301 2       2301.0      Precinct 45  38.940534 -77.016188
21253     010400 1      10400.0     Precinct 123  38.844676 -76.995917
21254     004300 4       4300.0     Precinct 141  38.915200 -77.031952
21255     001100 2       1100.0      Precinct 32  38.961017 -77.084550

                   BID              START_DATE                END_DATE  \
0                  NaN  2008/12/12 17:00:00+00  2008/12/12 19:00:00+00
1                  NaN  2008/12/12 20:03:00+00  2008/12/12 05:00:00+00
2      GOLDEN TRIANGLE  2008/12/12 16:30:00+00  2008/12/12 20:30:00+00
3                  NaN  2008/12/12 21:15:00+00  2008/12/12 21:30:00+00
4         ADAMS MORGAN  2008/01/07 23:00:00+00  2008/01/07 23:20:00+00
...                ...                     ...                     ...
21251              NaN  2023/12/28 20:00:00+00  2023/12/31 23:30:00+00
21252              NaN  2023/12/29 03:00:00+00  2023/12/31 17:30:00+00
21253              NaN  2024/01/01 04:31:00+00                     NaN
21254              NaN  2024/01/01 04:29:00+00  2024/01/02 04:30:00+00
21255              NaN  2024/01/01 06:17:00+00                     NaN

        OBJECTID  OCTO_RECORD_ID
0      591660807             NaN
1      591660808             NaN
2      591660809             NaN
3      591660810             NaN
4      591660811             NaN
...          ...             ...
21251  600268427             NaN
21252  600268426             NaN
21253  600267401             NaN
21254  600473419             NaN
21255  600270560             NaN

[554198 rows x 25 columns]

In [7]:
print(df_combine.info())

<class 'pandas.core.frame.DataFrame'>
Index: 554198 entries, 0 to 21255
Data columns (total 25 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   X                     554198 non-null  float64
 1   Y                     554198 non-null  float64
 2   CCN                   554198 non-null  int64
 3   REPORT_DAT            554198 non-null  object
 4   SHIFT                 554198 non-null  object
 5   METHOD                554198 non-null  object
 6   OFFENSE               554198 non-null  object
 7   BLOCK                 554196 non-null  object
 8   XBLOCK                554198 non-null  float64
 9   YBLOCK                554198 non-null  float64
 10  WARD                  554141 non-null  float64
 11  ANC                   554189 non-null  object
 12  DISTRICT              553040 non-null  float64
 13  PSA                   552943 non-null  float64
 14  NEIGHBORHOOD_CLUSTER  549617 non-null  object
 15  BLOCK_GROUP           553117 non-null  object
 16  CENSUS_TRACT          553119 non-null  float64
 17  VOTING_PRECINCT       554162 non-null  object
 18  LATITUDE              554198 non-null  float64
 19  LONGITUDE             554198 non-null  float64
 20  BID                   95712 non-null   object
 21  START_DATE            554172 non-null  object
 22  END_DATE              518842 non-null  object
 23  OBJECTID              554198 non-null  int64
 24  OCTO_RECORD_ID        0 non-null       float64
dtypes: float64(11), int64(2), object(12)
memory usage: 109.9+ MB
None

In [8]:
# Subset of the combined dataframe with only geographical info.

df_location_geog = df_combine[["BLOCK", "XBLOCK", "YBLOCK", "WARD", "ANC", "DISTRICT", "PSA", "NEIGHBORHOOD_CLUSTER", "VOTING_PRECINCT"]]

In [9]:
print(df_location_geog.info())

<class 'pandas.core.frame.DataFrame'>
Index: 554198 entries, 0 to 21255
Data columns (total 9 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   BLOCK                 554196 non-null  object
 1   XBLOCK                554198 non-null  float64
 2   YBLOCK                554198 non-null  float64
 3   WARD                  554141 non-null  float64
 4   ANC                   554189 non-null  object
 5   DISTRICT              553040 non-null  float64
 6   PSA                   552943 non-null  float64
 7   NEIGHBORHOOD_CLUSTER  549617 non-null  object
 8   VOTING_PRECINCT       554162 non-null  object
dtypes: float64(5), object(4)
memory usage: 42.3+ MB
None

In [10]:
# Dropping null values

df_location_geog_nonull = df_location_geog.dropna()

In [11]:
print(df_location_geog_nonull.info())

<class 'pandas.core.frame.DataFrame'>
Index: 548304 entries, 0 to 21255
Data columns (total 9 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   BLOCK                 548304 non-null  object
 1   XBLOCK                548304 non-null  float64
 2   YBLOCK                548304 non-null  float64
 3   WARD                  548304 non-null  float64
 4   ANC                   548304 non-null  object
 5   DISTRICT              548304 non-null  float64
 6   PSA                   548304 non-null  float64
 7   NEIGHBORHOOD_CLUSTER  548304 non-null  object
 8   VOTING_PRECINCT       548304 non-null  object
dtypes: float64(5), object(4)
memory usage: 41.8+ MB
None

In [12]:
print(df_location_geog_nonull.groupby(["BLOCK", "XBLOCK", "YBLOCK"]).size())

BLOCK                                 XBLOCK         YBLOCK
0 - 0 BLOCK OF 14TH STREET SW         396545.000000  134197.000000    1
0 - 0 BLOCK OF BEACH DRIVE NW         395975.490000  144064.800000    1
0 - 0 BLOCK OF BEAUVOIR ROAD NW       394142.000000  140284.000000    2
0 - 0 BLOCK OF CEDAR DRIVE SE         400199.753694  131978.036696    1
0 - 0 BLOCK OF CHAIN BRIDGE NW        390103.000000  140235.000000    1
                                                                     ..
YUMA STREET SE AND 1ST STREET SE      399489.000000  129363.000000    1
YUMA STREET SE AND 8TH STREET SE      400465.000000  129355.000000    1
YUMA STREET SE AND 9TH STREET SE      400749.000000  129435.000000    3
YUMA STREET SE AND CONDON TERRACE SE  400064.000000  129363.000000    1
                                      400064.910000  129363.300000    1
Length: 27418, dtype: int64

In [13]:
# Create a dictionary mapping (XBLOCK, YBLOCK) to BLOCK
block_mapping = dict(zip(zip(df_location_geog_nonull["XBLOCK"], df_location_geog_nonull["YBLOCK"]), df_location_geog_nonull["BLOCK"]))

# Define a custom function to fill in the missing BLOCK values
def fill_block(row):
    if pd.isna(row["BLOCK"]):  # If block is missing
        return block_mapping.get((row["XBLOCK"], row["YBLOCK"]), row["BLOCK"])
    return row["BLOCK"]

# Apply the function to the 'block' column
df_combine["BLOCK"] = df_combine.apply(fill_block, axis=1)

In [14]:
# Create a dictionary mapping (XBLOCK, YBLOCK) to WARD
Ward_mapping = dict(zip(zip(df_location_geog_nonull["XBLOCK"], df_location_geog_nonull["YBLOCK"]), df_location_geog_nonull["WARD"]))

# Define a custom function to fill in the missing WARD values
def fill_ward(row):
    if pd.isna(row["WARD"]):  # If block is missing
        return Ward_mapping.get((row["XBLOCK"], row["YBLOCK"]), row["WARD"])
    return row["WARD"]

# Apply the function to the 'WARD' column
df_combine["WARD"] = df_combine.apply(fill_ward, axis=1)

In [15]:
# Create a dictionary mapping (XBLOCK, YBLOCK) to ANC
ANC_mapping = dict(zip(zip(df_location_geog_nonull["XBLOCK"], df_location_geog_nonull["YBLOCK"]), df_location_geog_nonull["ANC"]))

# Define a custom function to fill in the missing ANC values
def fill_anc(row):
    if pd.isna(row["ANC"]):  # If ANC is missing
        return ANC_mapping.get((row["XBLOCK"], row["YBLOCK"]), row["ANC"])
    return row["ANC"]

# Apply the function to the 'ANC' column
df_combine["ANC"] = df_combine.apply(fill_anc, axis=1)

In [16]:
# Create a dictionary mapping (BLOCK, XBLOCK, YBLOCK, WARD, ANC) to DISTRICT
DISTRICT_mapping = dict(zip(zip(df_location_geog_nonull["BLOCK"], df_location_geog_nonull["XBLOCK"], df_location_geog_nonull["YBLOCK"], df_location_geog_nonull["WARD"], df_location_geog_nonull["ANC"]), df_location_geog_nonull["DISTRICT"]))

# Define a custom function to fill in the missing DISTRICT values
def fill_district(row):
    if pd.isna(row["DISTRICT"]):  # If DISTRICT is missing
        return DISTRICT_mapping.get((row["BLOCK"], row["XBLOCK"], row["YBLOCK"], row["WARD"], row["ANC"]), row["DISTRICT"])
    return row["DISTRICT"]

# Apply the function to the 'DISTRICT' column
df_combine["DISTRICT"] = df_combine.apply(fill_district, axis=1)

In [17]:
# Create a dictionary mapping (BLOCK, XBLOCK, YBLOCK, WARD, ANC, DISTRICT) to PSA
PSA_mapping = dict(zip(zip(df_location_geog_nonull["BLOCK"], df_location_geog_nonull["XBLOCK"], df_location_geog_nonull["YBLOCK"], df_location_geog_nonull["WARD"], df_location_geog_nonull["ANC"], df_location_geog_nonull["DISTRICT"]), df_location_geog_nonull["PSA"]))

# Define a custom function to fill in the missing PSA values
def fill_psa(row):
    if pd.isna(row["PSA"]):  # If PSA is missing
        return PSA_mapping.get((row["BLOCK"], row["XBLOCK"], row["YBLOCK"], row["WARD"], row["ANC"], row["DISTRICT"]), row["PSA"])
    return row["PSA"]

# Apply the function to the 'PSA' column
df_combine["PSA"] = df_combine.apply(fill_psa, axis=1)

In [18]:
# Create a dictionary mapping (BLOCK, XBLOCK, YBLOCK, WARD, ANC, DISTRICT, PSA) to NEIGHBORHOOD_CLUSTER
NEIGHBORHOOD_CLUSTER_mapping = dict(zip(zip(df_location_geog_nonull["BLOCK"], df_location_geog_nonull["XBLOCK"], df_location_geog_nonull["YBLOCK"], df_location_geog_nonull["WARD"], df_location_geog_nonull["ANC"], df_location_geog_nonull["DISTRICT"], df_location_geog_nonull["PSA"]), df_location_geog_nonull["NEIGHBORHOOD_CLUSTER"]))

# Define a custom function to fill in the missing NEIGHBORHOOD_CLUSTER values
def fill_ward(row):
    if pd.isna(row["NEIGHBORHOOD_CLUSTER"]):  # If NEIGHBORHOOD_CLUSTER is missing
        return NEIGHBORHOOD_CLUSTER_mapping.get((row["BLOCK"], row["XBLOCK"], row["YBLOCK"], row["WARD"], row["ANC"], row["DISTRICT"], row["PSA"]), row["NEIGHBORHOOD_CLUSTER"])
    return row["NEIGHBORHOOD_CLUSTER"]

# Apply the function to the 'NEIGHBORHOOD_CLUSTER' column
df_combine["NEIGHBORHOOD_CLUSTER"] = df_combine.apply(fill_ward, axis=1)

In [19]:
# Create a dictionary mapping (BLOCK, XBLOCK, YBLOCK, WARD, ANC, DISTRICT, PSA, NEIGHBORHOOD_CLUSTER) to VOTING_PRECINCT
VOTING_PRECINCT_mapping = dict(zip(zip(df_location_geog_nonull["BLOCK"], df_location_geog_nonull["XBLOCK"], df_location_geog_nonull["YBLOCK"], df_location_geog_nonull["WARD"], df_location_geog_nonull["ANC"], df_location_geog_nonull["DISTRICT"], df_location_geog_nonull["PSA"], df_location_geog_nonull["NEIGHBORHOOD_CLUSTER"]), df_location_geog_nonull["VOTING_PRECINCT"]))

# Define a custom function to fill in the missing VOTING_PRECINCT values
def fill_ward(row):
    if pd.isna(row["VOTING_PRECINCT"]):  # If VOTING_PRECINCT is missing
        return VOTING_PRECINCT_mapping.get((row["BLOCK"], row["XBLOCK"], row["YBLOCK"], row["WARD"], row["ANC"], row["DISTRICT"], row["PSA"], row["NEIGHBORHOOD_CLUSTER"]), row["VOTING_PRECINCT"])
    return row["VOTING_PRECINCT"]

# Apply the function to the 'VOTING_PRECINCT' column
df_combine["VOTING_PRECINCT"] = df_combine.apply(fill_ward, axis=1)

In [20]:
print(df_combine.info())

<class 'pandas.core.frame.DataFrame'>
Index: 554198 entries, 0 to 21255
Data columns (total 25 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   X                     554198 non-null  float64
 1   Y                     554198 non-null  float64
 2   CCN                   554198 non-null  int64
 3   REPORT_DAT            554198 non-null  object
 4   SHIFT                 554198 non-null  object
 5   METHOD                554198 non-null  object
 6   OFFENSE               554198 non-null  object
 7   BLOCK                 554197 non-null  object
 8   XBLOCK                554198 non-null  float64
 9   YBLOCK                554198 non-null  float64
 10  WARD                  554198 non-null  float64
 11  ANC                   554198 non-null  object
 12  DISTRICT              554148 non-null  float64
 13  PSA                   554138 non-null  float64
 14  NEIGHBORHOOD_CLUSTER  552774 non-null  object
 15  BLOCK_GROUP           553117 non-null  object
 16  CENSUS_TRACT          553119 non-null  float64
 17  VOTING_PRECINCT       554181 non-null  object
 18  LATITUDE              554198 non-null  float64
 19  LONGITUDE             554198 non-null  float64
 20  BID                   95712 non-null   object
 21  START_DATE            554172 non-null  object
 22  END_DATE              518842 non-null  object
 23  OBJECTID              554198 non-null  int64
 24  OCTO_RECORD_ID        0 non-null       float64
dtypes: float64(11), int64(2), object(12)
memory usage: 109.9+ MB
None

In [21]:
# Dropping columns that we do not need

df_combine.drop("X", axis=1, inplace=True)
df_combine.drop("Y", axis=1, inplace=True)
df_combine.drop("CCN", axis=1, inplace=True)
df_combine.drop("XBLOCK", axis=1, inplace=True)
df_combine.drop("YBLOCK", axis=1, inplace=True)
df_combine.drop("NEIGHBORHOOD_CLUSTER", axis=1, inplace=True)
df_combine.drop("BLOCK_GROUP", axis=1, inplace=True)
df_combine.drop("CENSUS_TRACT", axis=1, inplace=True)
df_combine.drop("BID", axis=1, inplace=True)
df_combine.drop("START_DATE", axis=1, inplace=True)
df_combine.drop("END_DATE", axis=1, inplace=True)
df_combine.drop("OBJECTID", axis=1, inplace=True)
df_combine.drop("OCTO_RECORD_ID", axis=1, inplace=True)

In [22]:
print(df_combine.info())

<class 'pandas.core.frame.DataFrame'>
Index: 554198 entries, 0 to 21255
Data columns (total 12 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   REPORT_DAT       554198 non-null  object
 1   SHIFT            554198 non-null  object
 2   METHOD           554198 non-null  object
 3   OFFENSE          554198 non-null  object
 4   BLOCK            554197 non-null  object
 5   WARD             554198 non-null  float64
 6   ANC              554198 non-null  object
 7   DISTRICT         554148 non-null  float64
 8   PSA              554138 non-null  float64
 9   VOTING_PRECINCT  554181 non-null  object
 10  LATITUDE         554198 non-null  float64
 11  LONGITUDE        554198 non-null  float64
dtypes: float64(5), object(7)
memory usage: 55.0+ MB
None

In [23]:
# dropping rows with null values

df_final = df_combine.dropna()

In [24]:
print(df_final.info())

<class 'pandas.core.frame.DataFrame'>
Index: 554119 entries, 0 to 21255
Data columns (total 12 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   REPORT_DAT       554119 non-null  object
 1   SHIFT            554119 non-null  object
 2   METHOD           554119 non-null  object
 3   OFFENSE          554119 non-null  object
 4   BLOCK            554119 non-null  object
 5   WARD             554119 non-null  float64
 6   ANC              554119 non-null  object
 7   DISTRICT         554119 non-null  float64
 8   PSA              554119 non-null  float64
 9   VOTING_PRECINCT  554119 non-null  object
 10  LATITUDE         554119 non-null  float64
 11  LONGITUDE        554119 non-null  float64
dtypes: float64(5), object(7)
memory usage: 55.0+ MB
None

In [25]:
print(df_final["REPORT_DAT"].head(10))

0    2008/12/12 22:00:00+00
1    2008/12/12 21:45:00+00
2    2008/12/12 21:28:00+00
3    2008/12/13 00:50:00+00
4    2008/12/12 22:00:00+00
5    2008/12/12 22:42:00+00
6    2008/12/12 23:22:00+00
7    2008/12/17 16:50:00+00
8    2008/12/17 16:00:00+00
9    2008/12/17 17:55:00+00
Name: REPORT_DAT, dtype: object

In [26]:
# Splitting REPORT_DAT into Year, Month, Day, Hour and Minute

df_final["YEAR"] = df_final["REPORT_DAT"].str[0:4]
df_final["MONTH"] = df_final["REPORT_DAT"].str[5:7]
df_final["DAY"] = df_final["REPORT_DAT"].str[8:10]
df_final["HOUR"] = df_final["REPORT_DAT"].str[11:13]
df_final["MINUTE"] = df_final["REPORT_DAT"].str[14:16]

<ipython-input-26-b5a1cbba05c2>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_final["YEAR"] = df_final["REPORT_DAT"].str[0:4]
<ipython-input-26-b5a1cbba05c2>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_final["MONTH"] = df_final["REPORT_DAT"].str[5:7]
<ipython-input-26-b5a1cbba05c2>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_final["DAY"] = df_final["REPORT_DAT"].str[8:10]
<ipython-input-26-b5a1cbba05c2>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_final["HOUR"] = df_final["REPORT_DAT"].str[11:13]
<ipython-input-26-b5a1cbba05c2>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_final["MINUTE"] = df_final["REPORT_DAT"].str[14:16]

In [27]:
print(df_final.info())

<class 'pandas.core.frame.DataFrame'>
Index: 554119 entries, 0 to 21255
Data columns (total 17 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   REPORT_DAT       554119 non-null  object
 1   SHIFT            554119 non-null  object
 2   METHOD           554119 non-null  object
 3   OFFENSE          554119 non-null  object
 4   BLOCK            554119 non-null  object
 5   WARD             554119 non-null  float64
 6   ANC              554119 non-null  object
 7   DISTRICT         554119 non-null  float64
 8   PSA              554119 non-null  float64
 9   VOTING_PRECINCT  554119 non-null  object
 10  LATITUDE         554119 non-null  float64
 11  LONGITUDE        554119 non-null  float64
 12  YEAR             554119 non-null  object
 13  MONTH            554119 non-null  object
 14  DAY              554119 non-null  object
 15  HOUR             554119 non-null  object
 16  MINUTE           554119 non-null  object
dtypes: float64(5), object(12)
memory usage: 76.1+ MB
None

In [28]:
df_final.drop("REPORT_DAT", axis=1, inplace=True)

<ipython-input-28-e8881dffa3c8>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_final.drop("REPORT_DAT", axis=1, inplace=True)

In [29]:
# Rearranging Columns

df_final = df_final[["YEAR", "MONTH", "DAY", "HOUR", "MINUTE", "SHIFT", "METHOD", "OFFENSE", "BLOCK", "WARD", "ANC", "DISTRICT", "PSA", "VOTING_PRECINCT", "LATITUDE", "LONGITUDE"]]

In [30]:
print(df_final.info())

<class 'pandas.core.frame.DataFrame'>
Index: 554119 entries, 0 to 21255
Data columns (total 16 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   YEAR             554119 non-null  object
 1   MONTH            554119 non-null  object
 2   DAY              554119 non-null  object
 3   HOUR             554119 non-null  object
 4   MINUTE           554119 non-null  object
 5   SHIFT            554119 non-null  object
 6   METHOD           554119 non-null  object
 7   OFFENSE          554119 non-null  object
 8   BLOCK            554119 non-null  object
 9   WARD             554119 non-null  float64
 10  ANC              554119 non-null  object
 11  DISTRICT         554119 non-null  float64
 12  PSA              554119 non-null  float64
 13  VOTING_PRECINCT  554119 non-null  object
 14  LATITUDE         554119 non-null  float64
 15  LONGITUDE        554119 non-null  float64
dtypes: float64(5), object(11)
memory usage: 71.9+ MB
None

In [31]:
df_final.head(10)

,YEAR,MONTH,DAY,HOUR,MINUTE,SHIFT,METHOD,OFFENSE,BLOCK,WARD,ANC,DISTRICT,PSA,VOTING_PRECINCT,LATITUDE,LONGITUDE
0,2008,12,12,22,00,EVENING,OTHERS,THEFT/OTHER,2800 - 2821 BLOCK OF PENNSYLVANIA AVENUE SE,7.0,7B,6.0,605.0,Precinct 111,38.872067,-76.967204
1,2008,12,12,21,45,EVENING,OTHERS,ASSAULT W/DANGEROUS WEAPON,3301 - 3699 BLOCK OF 6TH STREET SE,8.0,8C,7.0,705.0,Precinct 122,38.839713,-76.998457
2,2008,12,12,21,28,EVENING,OTHERS,THEFT/OTHER,1600 - 1699 BLOCK OF L STREET NW,2.0,2B,2.0,207.0,Precinct 17,38.903739,-77.037526
3,2008,12,13,00,50,EVENING,OTHERS,THEFT/OTHER,1200 - 1299 BLOCK OF TAYLOR STREET NW,4.0,4C,4.0,404.0,Precinct 47,38.940802,-77.028226
4,2008,12,12,22,00,EVENING,OTHERS,THEFT/OTHER,2400 - 2499 BLOCK OF 18TH STREET NW,1.0,1C,3.0,303.0,Precinct 25,38.921619,-77.042367
5,2008,12,12,22,42,EVENING,OTHERS,THEFT/OTHER,200 - 299 BLOCK OF 10TH STREET NE,6.0,6A,1.0,108.0,Precinct 85,38.892790,-76.992657
6,2008,12,12,23,22,EVENING,OTHERS,ROBBERY,1601 - 1699 BLOCK OF ARGONNE PLACE NW,1.0,1C,3.0,303.0,Precinct 35,38.926466,-77.038403
7,2008,12,17,16,50,DAY,OTHERS,MOTOR VEHICLE THEFT,500 - 599 BLOCK OF 23RD PLACE NE,7.0,7D,5.0,507.0,Precinct 80,38.897202,-76.973382
8,2008,12,17,16,00,DAY,OTHERS,BURGLARY,1100 - 1199 BLOCK OF VARNEY STREET SE,8.0,8E,7.0,706.0,Precinct 121,38.836199,-76.988712
9,2008,12,17,17,55,DAY,OTHERS,THEFT/OTHER,5700 - 5717 BLOCK OF 5TH STREET NW,4.0,4B,4.0,402.0,Precinct 58,38.959090,-77.019903

In [32]:
# Finalizing data types for each column

df_final["YEAR"] = df_final["YEAR"].astype(int)
df_final["MONTH"] = df_final["MONTH"].astype(int)
df_final["DAY"] = df_final["DAY"].astype(int)
df_final["HOUR"] = df_final["HOUR"].astype(int)
df_final["MINUTE"] = df_final["MINUTE"].astype(int)
df_final["SHIFT"] = df_final["SHIFT"].astype("category")
df_final["METHOD"] = df_final["METHOD"].astype("category")
df_final["OFFENSE"] = df_final["OFFENSE"].astype("category")
df_final["BLOCK"] = df_final["BLOCK"].astype(str)
df_final["WARD"] = df_final["WARD"].astype(int)
df_final["ANC"] = df_final["ANC"].astype("category")
df_final["DISTRICT"] = df_final["DISTRICT"].astype(int)
df_final["PSA"] = df_final["PSA"].astype(int)
df_final["VOTING_PRECINCT"] = df_final["VOTING_PRECINCT"].astype("category")

In [33]:
# Merging 2 categories in offense - THEFT/OTHER and

df_final["OFFENSE"] = df_final["OFFENSE"].replace({"THEFT/OTHER": "THEFT", "THEFT F/AUTO": "THEFT"})

<ipython-input-33-eb39e788a5bc>:3: FutureWarning: The behavior of Series.replace (and DataFrame.replace) with CategoricalDtype is deprecated. In a future version, replace will only be used for cases that preserve the categories. To change the categories, use ser.cat.rename_categories instead.
  df_final["OFFENSE"] = df_final["OFFENSE"].replace({"THEFT/OTHER": "THEFT", "THEFT F/AUTO": "THEFT"})

In [34]:
df_final["OFFENSE"].value_counts()

OFFENSE
THEFT                         363819
MOTOR VEHICLE THEFT            59075
ROBBERY                        50908
BURGLARY                       39718
ASSAULT W/DANGEROUS WEAPON     33817
SEX ABUSE                       3784
HOMICIDE                        2620
ARSON                            378
Name: count, dtype: int64

In [35]:
print(df_final.info())

<class 'pandas.core.frame.DataFrame'>
Index: 554119 entries, 0 to 21255
Data columns (total 16 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   YEAR             554119 non-null  int64
 1   MONTH            554119 non-null  int64
 2   DAY              554119 non-null  int64
 3   HOUR             554119 non-null  int64
 4   MINUTE           554119 non-null  int64
 5   SHIFT            554119 non-null  category
 6   METHOD           554119 non-null  category
 7   OFFENSE          554119 non-null  category
 8   BLOCK            554119 non-null  object
 9   WARD             554119 non-null  int64
 10  ANC              554119 non-null  category
 11  DISTRICT         554119 non-null  int64
 12  PSA              554119 non-null  int64
 13  VOTING_PRECINCT  554119 non-null  category
 14  LATITUDE         554119 non-null  float64
 15  LONGITUDE        554119 non-null  float64
dtypes: category(5), float64(2), int64(8), object(1)
memory usage: 53.9+ MB
None

In [36]:
# Saving the dataset into a csv file

df_final.to_csv('combined_data.csv', index=False)