In [ ]:
import pandas as pd

In [ ]:
# Read all CSV file into a DataFrame

df2008 = pd.read_csv("/content/Crime_Incidents_in_2008.csv")
df2009 = pd.read_csv("/content/Crime_Incidents_in_2009.csv")
df2010 = pd.read_csv("/content/Crime_Incidents_in_2010.csv")
df2011 = pd.read_csv("/content/Crime_Incidents_in_2011.csv")
df2012 = pd.read_csv("/content/Crime_Incidents_in_2012.csv")
df2013 = pd.read_csv("/content/Crime_Incidents_in_2013.csv")
df2014 = pd.read_csv("/content/Crime_Incidents_in_2014.csv")
df2015 = pd.read_csv("/content/Crime_Incidents_in_2015.csv")
df2016 = pd.read_csv("/content/Crime_Incidents_in_2016.csv")
df2017 = pd.read_csv("/content/Crime_Incidents_in_2017.csv")
df2018 = pd.read_csv("/content/Crime_Incidents_in_2018.csv")
df2019 = pd.read_csv("/content/Crime_Incidents_in_2019.csv")
df2022 = pd.read_csv("/content/Crime_Incidents_in_2022.csv")
df2023 = pd.read_csv("/content/Crime_Incidents_in_2023.csv")
df2024 = pd.read_csv("/content/Crime_Incidents_in_2024.csv")

In [ ]:
# Storing column names of all the dataframes

columns2008 = set(df2008.columns)
columns2009 = set(df2009.columns)
columns2010 = set(df2010.columns)
columns2011 = set(df2011.columns)
columns2012 = set(df2012.columns)
columns2013 = set(df2013.columns)
columns2014 = set(df2014.columns)
columns2015 = set(df2015.columns)
columns2016 = set(df2016.columns)
columns2017 = set(df2017.columns)
columns2018 = set(df2018.columns)
columns2019 = set(df2019.columns)
columns2022 = set(df2022.columns)
columns2023 = set(df2023.columns)
columns2024 = set(df2024.columns)

In [ ]:
# Printing the column names to compare before merging the datasets

print(columns2008)
print(columns2009)
print(columns2010)
print(columns2011)
print(columns2012)
print(columns2013)
print(columns2014)
print(columns2015)
print(columns2016)
print(columns2017)
print(columns2018)
print(columns2019)
print(columns2022)
print(columns2023)
print(columns2024)

{'CENSUS_TRACT', 'VOTING_PRECINCT', 'END_DATE', 'X', 'CCN', 'OCTO_RECORD_ID', 'LATITUDE', 'PSA', 'XBLOCK', 'NEIGHBORHOOD_CLUSTER', 'OBJECTID', 'BLOCK_GROUP', 'DISTRICT', 'BID', 'SHIFT', 'ANC', 'Y', 'BLOCK', 'START_DATE', 'LONGITUDE', 'WARD', 'YBLOCK', 'REPORT_DAT', 'OFFENSE', 'METHOD'}
{'CENSUS_TRACT', 'VOTING_PRECINCT', 'END_DATE', 'X', 'CCN', 'OCTO_RECORD_ID', 'LATITUDE', 'PSA', 'XBLOCK', 'NEIGHBORHOOD_CLUSTER', 'OBJECTID', 'BLOCK_GROUP', 'DISTRICT', 'BID', 'SHIFT', 'ANC', 'Y', 'BLOCK', 'START_DATE', 'LONGITUDE', 'WARD', 'YBLOCK', 'REPORT_DAT', 'OFFENSE', 'METHOD'}
{'CENSUS_TRACT', 'VOTING_PRECINCT', 'END_DATE', 'X', 'CCN', 'OCTO_RECORD_ID', 'LATITUDE', 'PSA', 'XBLOCK', 'NEIGHBORHOOD_CLUSTER', 'OBJECTID', 'BLOCK_GROUP', 'DISTRICT', 'BID', 'SHIFT', 'ANC', 'Y', 'BLOCK', 'START_DATE', 'LONGITUDE', 'WARD', 'YBLOCK', 'REPORT_DAT', 'OFFENSE', 'METHOD'}
{'CENSUS_TRACT', 'VOTING_PRECINCT', 'END_DATE', 'X', 'CCN', 'OCTO_RECORD_ID', 'LATITUDE', 'PSA', 'XBLOCK', 'NEIGHBORHOOD_CLUSTER', 'OBJECTID', 'BLOCK_GROUP', 'DISTRICT', 'BID', 'SHIFT', 'ANC', 'Y', 'BLOCK', 'START_DATE', 'LONGITUDE', 'WARD', 'YBLOCK', 'REPORT_DAT', 'OFFENSE', 'METHOD'}
{'CENSUS_TRACT', 'VOTING_PRECINCT', 'END_DATE', 'X', 'CCN', 'OCTO_RECORD_ID', 'LATITUDE', 'PSA', 'XBLOCK', 'NEIGHBORHOOD_CLUSTER', 'OBJECTID', 'BLOCK_GROUP', 'DISTRICT', 'BID', 'SHIFT', 'ANC', 'Y', 'BLOCK', 'START_DATE', 'LONGITUDE', 'WARD', 'YBLOCK', 'REPORT_DAT', 'OFFENSE', 'METHOD'}
{'CENSUS_TRACT', 'VOTING_PRECINCT', 'END_DATE', 'X', 'CCN', 'OCTO_RECORD_ID', 'LATITUDE', 'PSA', 'XBLOCK', 'NEIGHBORHOOD_CLUSTER', 'OBJECTID', 'BLOCK_GROUP', 'DISTRICT', 'BID', 'SHIFT', 'ANC', 'Y', 'BLOCK', 'START_DATE', 'LONGITUDE', 'WARD', 'YBLOCK', 'REPORT_DAT', 'OFFENSE', 'METHOD'}
{'CENSUS_TRACT', 'VOTING_PRECINCT', 'END_DATE', 'X', 'CCN', 'OCTO_RECORD_ID', 'LATITUDE', 'PSA', 'XBLOCK', 'NEIGHBORHOOD_CLUSTER', 'OBJECTID', 'BLOCK_GROUP', 'DISTRICT', 'BID', 'SHIFT', 'ANC', 'Y', 'BLOCK', 'START_DATE', 'LONGITUDE', 'WARD', 'YBLOCK', 'REPORT_DAT', 'OFFENSE', 'METHOD'}
{'CENSUS_TRACT', 'VOTING_PRECINCT', 'END_DATE', 'X', 'CCN', 'OCTO_RECORD_ID', 'LATITUDE', 'PSA', 'XBLOCK', 'NEIGHBORHOOD_CLUSTER', 'OBJECTID', 'BLOCK_GROUP', 'DISTRICT', 'BID', 'SHIFT', 'ANC', 'Y', 'BLOCK', 'START_DATE', 'LONGITUDE', 'WARD', 'YBLOCK', 'REPORT_DAT', 'OFFENSE', 'METHOD'}
{'CENSUS_TRACT', 'VOTING_PRECINCT', 'END_DATE', 'X', 'CCN', 'OCTO_RECORD_ID', 'LATITUDE', 'PSA', 'XBLOCK', 'NEIGHBORHOOD_CLUSTER', 'OBJECTID', 'BLOCK_GROUP', 'DISTRICT', 'BID', 'SHIFT', 'ANC', 'Y', 'BLOCK', 'START_DATE', 'LONGITUDE', 'WARD', 'YBLOCK', 'REPORT_DAT', 'OFFENSE', 'METHOD'}
{'CENSUS_TRACT', 'VOTING_PRECINCT', 'END_DATE', 'X', 'CCN', 'OCTO_RECORD_ID', 'LATITUDE', 'PSA', 'XBLOCK', 'NEIGHBORHOOD_CLUSTER', 'OBJECTID', 'BLOCK_GROUP', 'DISTRICT', 'BID', 'SHIFT', 'ANC', 'Y', 'BLOCK', 'START_DATE', 'LONGITUDE', 'WARD', 'YBLOCK', 'REPORT_DAT', 'OFFENSE', 'METHOD'}
{'CENSUS_TRACT', 'VOTING_PRECINCT', 'END_DATE', 'X', 'CCN', 'OCTO_RECORD_ID', 'LATITUDE', 'PSA', 'XBLOCK', 'NEIGHBORHOOD_CLUSTER', 'OBJECTID', 'BLOCK_GROUP', 'DISTRICT', 'BID', 'SHIFT', 'ANC', 'Y', 'BLOCK', 'START_DATE', 'LONGITUDE', 'WARD', 'YBLOCK', 'REPORT_DAT', 'OFFENSE', 'METHOD'}
{'CENSUS_TRACT', 'VOTING_PRECINCT', 'END_DATE', 'X', 'CCN', 'OCTO_RECORD_ID', 'LATITUDE', 'PSA', 'XBLOCK', 'NEIGHBORHOOD_CLUSTER', 'OBJECTID', 'BLOCK_GROUP', 'DISTRICT', 'BID', 'SHIFT', 'ANC', 'Y', 'BLOCK', 'START_DATE', 'LONGITUDE', 'WARD', 'YBLOCK', 'REPORT_DAT', 'OFFENSE', 'METHOD'}
{'CENSUS_TRACT', 'VOTING_PRECINCT', 'END_DATE', 'X', 'CCN', 'OCTO_RECORD_ID', 'LATITUDE', 'PSA', 'XBLOCK', 'NEIGHBORHOOD_CLUSTER', 'OBJECTID', 'BLOCK_GROUP', 'DISTRICT', 'BID', 'SHIFT', 'ANC', 'Y', 'BLOCK', 'START_DATE', 'LONGITUDE', 'WARD', 'YBLOCK', 'REPORT_DAT', 'OFFENSE', 'METHOD'}
{'CENSUS_TRACT', 'VOTING_PRECINCT', 'END_DATE', 'X', 'CCN', 'OCTO_RECORD_ID', 'LATITUDE', 'PSA', 'XBLOCK', 'NEIGHBORHOOD_CLUSTER', 'OBJECTID', 'BLOCK_GROUP', 'DISTRICT', 'BID', 'SHIFT', 'ANC', 'Y', 'BLOCK', 'START_DATE', 'LONGITUDE', 'WARD', 'YBLOCK', 'REPORT_DAT', 'OFFENSE', 'METHOD'}
{'CENSUS_TRACT', 'VOTING_PRECINCT', 'END_DATE', 'X', 'CCN', 'OCTO_RECORD_ID', 'LATITUDE', 'PSA', 'XBLOCK', 'NEIGHBORHOOD_CLUSTER', 'OBJECTID', 'BLOCK_GROUP', 'DISTRICT', 'BID', 'SHIFT', 'ANC', 'Y', 'BLOCK', 'START_DATE', 'LONGITUDE', 'WARD', 'YBLOCK', 'REPORT_DAT', 'OFFENSE', 'METHOD'}

In [ ]:
# List of dataframes from 2008 to 2023 and concat them

frames = [df2008, df2009, df2010, df2011, df2012, df2013, df2014, df2015, df2016, df2017, df2018, df2019, df2022, df2023, df2024]

df_combine = pd.concat(frames)

In [ ]:
print(df_combine)

               X          Y       CCN              REPORT_DAT     SHIFT  \
0      402846.00  133805.00   8175440  2008/12/12 22:00:00+00   EVENING
1      400134.00  130213.00   8175469  2008/12/12 21:45:00+00   EVENING
2      396745.00  137321.00   8175472  2008/12/12 21:28:00+00   EVENING
3      397553.00  141435.00   8175489  2008/12/13 00:50:00+00   EVENING
4      396326.00  139306.00   8175494  2008/12/12 22:00:00+00   EVENING
...          ...        ...       ...                     ...       ...
24530  396046.20  138387.65  24015980  2024/02/01 05:26:08+00  MIDNIGHT
24531  396455.48  139555.85  24018602  2024/02/06 03:05:47+00   EVENING
24532  400687.19  137300.09  24021951  2024/02/12 04:20:28+00  MIDNIGHT
24533  398358.20  137185.34  24145015  2024/09/20 01:31:11+00   EVENING
24534  399823.20  136784.66  24145358  2024/09/20 14:24:08+00       DAY

       METHOD                     OFFENSE  \
0      OTHERS                 THEFT/OTHER
1      OTHERS  ASSAULT W/DANGEROUS WEAPON
2      OTHERS                 THEFT/OTHER
3      OTHERS                 THEFT/OTHER
4      OTHERS                 THEFT/OTHER
...       ...                         ...
24530  OTHERS                 THEFT/OTHER
24531  OTHERS                 THEFT/OTHER
24532  OTHERS                    BURGLARY
24533  OTHERS                 THEFT/OTHER
24534  OTHERS                THEFT F/AUTO

                                             BLOCK         XBLOCK  \
0      2800 - 2821 BLOCK OF PENNSYLVANIA AVENUE SE  402846.000000
1               3301 - 3699 BLOCK OF 6TH STREET SE  400134.000000
2                 1600 - 1699 BLOCK OF L STREET NW  396745.000000
3           1200  - 1299 BLOCK OF TAYLOR STREET NW  397553.000000
4              2400 - 2499 BLOCK OF 18TH STREET NW  396326.000000
...                                            ...            ...
24530   1700 - 1799 BLOCK OF CONNECTICUT AVENUE NW  396046.200000
24531        1737 - 1776 BLOCK OF COLUMBIA ROAD NW  396455.480000
24532       1001 - 1100 BLOCK OF FLORIDA AVENUE NE  400687.190000
24533                5TH STREET NW AND K STREET NW  398358.199996
24534                G STREET NE AND 3RD STREET NE  399823.199998

              YBLOCK  ...  BLOCK_GROUP CENSUS_TRACT  VOTING_PRECINCT  \
0      133805.000000  ...     007604 3       7604.0     Precinct 111
1      130213.000000  ...     009804 2       9804.0     Precinct 122
2      137321.000000  ...     010700 1      10700.0      Precinct 17
3      141435.000000  ...     002502 1       2502.0      Precinct 47
4      139306.000000  ...     004002 1       4002.0      Precinct 25
...              ...  ...          ...          ...              ...
24530  138387.650000  ...     004202 2       4202.0      Precinct 14
24531  139555.850000  ...     003901 2       3901.0      Precinct 35
24532  137300.090000  ...     008802 3       8802.0      Precinct 77
24533  137185.339997  ...     004703 2       4703.0       Precinct 1
24534  136784.659996  ...     008301 1       8301.0      Precinct 83

        LATITUDE  LONGITUDE                        BID  \
0      38.872067 -76.967204                        NaN
1      38.839713 -76.998457                        NaN
2      38.903739 -77.037526            GOLDEN TRIANGLE
3      38.940802 -77.028226                        NaN
4      38.921619 -77.042367               ADAMS MORGAN
...          ...        ...                        ...
24530  38.913345 -77.045589              DUPONT CIRCLE
24531  38.923870 -77.040876               ADAMS MORGAN
24532  38.903556 -76.992078                        NaN
24533  38.902521 -77.018928  MOUNT VERNON TRIANGLE CID
24534  38.898913 -77.002038                        NaN

                   START_DATE                END_DATE   OBJECTID  \
0      2008/12/12 17:00:00+00  2008/12/12 19:00:00+00  591660807
1      2008/12/12 20:03:00+00  2008/12/12 05:00:00+00  591660808
2      2008/12/12 16:30:00+00  2008/12/12 20:30:00+00  591660809
3      2008/12/12 21:15:00+00  2008/12/12 21:30:00+00  591660810
4      2008/01/07 23:00:00+00  2008/01/07 23:20:00+00  591660811
...                       ...                     ...        ...
24530  2024/02/01 03:52:00+00  2024/02/01 03:53:00+00  618881138
24531  2024/02/06 01:27:00+00  2024/02/06 01:35:00+00  618881139
24532  2024/02/12 00:57:00+00  2024/02/12 01:05:00+00  618881144
24533  2024/09/19 21:02:00+00  2024/09/19 21:30:00+00  618881146
24534  2024/09/20 13:30:00+00  2024/09/20 15:10:00+00  618881147

       OCTO_RECORD_ID
0                 NaN
1                 NaN
2                 NaN
3                 NaN
4                 NaN
...               ...
24530             NaN
24531             NaN
24532             NaN
24533             NaN
24534             NaN

[501225 rows x 25 columns]

In [ ]:
print(df_combine.info())

<class 'pandas.core.frame.DataFrame'>
Index: 501225 entries, 0 to 24534
Data columns (total 25 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   X                     501225 non-null  float64
 1   Y                     501225 non-null  float64
 2   CCN                   501225 non-null  int64
 3   REPORT_DAT            501225 non-null  object
 4   SHIFT                 501225 non-null  object
 5   METHOD                501225 non-null  object
 6   OFFENSE               501225 non-null  object
 7   BLOCK                 501223 non-null  object
 8   XBLOCK                501225 non-null  float64
 9   YBLOCK                501225 non-null  float64
 10  WARD                  501192 non-null  float64
 11  ANC                   501215 non-null  object
 12  DISTRICT              500204 non-null  float64
 13  PSA                   500148 non-null  float64
 14  NEIGHBORHOOD_CLUSTER  496643 non-null  object
 15  BLOCK_GROUP           500171 non-null  object
 16  CENSUS_TRACT          500173 non-null  float64
 17  VOTING_PRECINCT       501188 non-null  object
 18  LATITUDE              501225 non-null  float64
 19  LONGITUDE             501225 non-null  float64
 20  BID                   86757 non-null   object
 21  START_DATE            501197 non-null  object
 22  END_DATE              471373 non-null  object
 23  OBJECTID              501225 non-null  int64
 24  OCTO_RECORD_ID        0 non-null       float64
dtypes: float64(11), int64(2), object(12)
memory usage: 99.4+ MB
None

In [ ]:
# Subset of the combined dataframe with only geographical info.

df_location_geog = df_combine[["BLOCK", "XBLOCK", "YBLOCK", "WARD", "ANC", "DISTRICT", "PSA", "NEIGHBORHOOD_CLUSTER", "VOTING_PRECINCT"]]

In [ ]:
print(df_location_geog.info())

<class 'pandas.core.frame.DataFrame'>
Index: 501225 entries, 0 to 24534
Data columns (total 9 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   BLOCK                 501223 non-null  object
 1   XBLOCK                501225 non-null  float64
 2   YBLOCK                501225 non-null  float64
 3   WARD                  501192 non-null  float64
 4   ANC                   501215 non-null  object
 5   DISTRICT              500204 non-null  float64
 6   PSA                   500148 non-null  float64
 7   NEIGHBORHOOD_CLUSTER  496643 non-null  object
 8   VOTING_PRECINCT       501188 non-null  object
dtypes: float64(5), object(4)
memory usage: 38.2+ MB
None

In [ ]:
# Dropping null values

df_location_geog_nonull = df_location_geog.dropna()

In [ ]:
print(df_location_geog_nonull.info())

<class 'pandas.core.frame.DataFrame'>
Index: 495493 entries, 0 to 24534
Data columns (total 9 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   BLOCK                 495493 non-null  object
 1   XBLOCK                495493 non-null  float64
 2   YBLOCK                495493 non-null  float64
 3   WARD                  495493 non-null  float64
 4   ANC                   495493 non-null  object
 5   DISTRICT              495493 non-null  float64
 6   PSA                   495493 non-null  float64
 7   NEIGHBORHOOD_CLUSTER  495493 non-null  object
 8   VOTING_PRECINCT       495493 non-null  object
dtypes: float64(5), object(4)
memory usage: 37.8+ MB
None

In [ ]:
print(df_location_geog_nonull.groupby(["BLOCK", "XBLOCK", "YBLOCK"]).size())

BLOCK                                 XBLOCK         YBLOCK
0 - 0 BLOCK OF BEACH DRIVE NW         395975.490000  144064.800000    1
0 - 0 BLOCK OF BEAUVOIR ROAD NW       394142.000000  140284.000000    2
0 - 0 BLOCK OF CEDAR DRIVE SE         400199.753694  131978.036696    1
0 - 0 BLOCK OF CHAIN BRIDGE NW        390103.000000  140235.000000    1
0 - 0 BLOCK OF CHEVY CHASE CIRCLE NW  393309.000000  144370.000000    2
                                                                     ..
YUMA STREET SE AND 1ST STREET SE      399489.000000  129363.000000    1
YUMA STREET SE AND 8TH STREET SE      400465.000000  129355.000000    1
YUMA STREET SE AND 9TH STREET SE      400749.000000  129435.000000    3
YUMA STREET SE AND CONDON TERRACE SE  400064.000000  129363.000000    1
                                      400064.910014  129363.300021    1
Length: 26679, dtype: int64

In [ ]:
# Create a dictionary mapping (XBLOCK, YBLOCK) to BLOCK
block_mapping = dict(zip(zip(df_location_geog_nonull["XBLOCK"], df_location_geog_nonull["YBLOCK"]), df_location_geog_nonull["BLOCK"]))

# Define a custom function to fill in the missing BLOCK values
def fill_block(row):
    if pd.isna(row["BLOCK"]):  # If block is missing
        return block_mapping.get((row["XBLOCK"], row["YBLOCK"]), row["BLOCK"])
    return row["BLOCK"]

# Apply the function to the 'block' column
df_combine["BLOCK"] = df_combine.apply(fill_block, axis=1)

In [ ]:
# Create a dictionary mapping (XBLOCK, YBLOCK) to WARD
Ward_mapping = dict(zip(zip(df_location_geog_nonull["XBLOCK"], df_location_geog_nonull["YBLOCK"]), df_location_geog_nonull["WARD"]))

# Define a custom function to fill in the missing WARD values
def fill_ward(row):
    if pd.isna(row["WARD"]):  # If block is missing
        return Ward_mapping.get((row["XBLOCK"], row["YBLOCK"]), row["WARD"])
    return row["WARD"]

# Apply the function to the 'WARD' column
df_combine["WARD"] = df_combine.apply(fill_ward, axis=1)

In [ ]:
# Create a dictionary mapping (XBLOCK, YBLOCK) to ANC
ANC_mapping = dict(zip(zip(df_location_geog_nonull["XBLOCK"], df_location_geog_nonull["YBLOCK"]), df_location_geog_nonull["ANC"]))

# Define a custom function to fill in the missing ANC values
def fill_anc(row):
    if pd.isna(row["ANC"]):  # If ANC is missing
        return ANC_mapping.get((row["XBLOCK"], row["YBLOCK"]), row["ANC"])
    return row["ANC"]

# Apply the function to the 'ANC' column
df_combine["ANC"] = df_combine.apply(fill_anc, axis=1)

In [ ]:
# Create a dictionary mapping (BLOCK, XBLOCK, YBLOCK, WARD, ANC) to DISTRICT
DISTRICT_mapping = dict(zip(zip(df_location_geog_nonull["BLOCK"], df_location_geog_nonull["XBLOCK"], df_location_geog_nonull["YBLOCK"], df_location_geog_nonull["WARD"], df_location_geog_nonull["ANC"]), df_location_geog_nonull["DISTRICT"]))

# Define a custom function to fill in the missing DISTRICT values
def fill_district(row):
    if pd.isna(row["DISTRICT"]):  # If DISTRICT is missing
        return DISTRICT_mapping.get((row["BLOCK"], row["XBLOCK"], row["YBLOCK"], row["WARD"], row["ANC"]), row["DISTRICT"])
    return row["DISTRICT"]

# Apply the function to the 'DISTRICT' column
df_combine["DISTRICT"] = df_combine.apply(fill_district, axis=1)

In [ ]:
# Create a dictionary mapping (BLOCK, XBLOCK, YBLOCK, WARD, ANC, DISTRICT) to PSA
PSA_mapping = dict(zip(zip(df_location_geog_nonull["BLOCK"], df_location_geog_nonull["XBLOCK"], df_location_geog_nonull["YBLOCK"], df_location_geog_nonull["WARD"], df_location_geog_nonull["ANC"], df_location_geog_nonull["DISTRICT"]), df_location_geog_nonull["PSA"]))

# Define a custom function to fill in the missing PSA values
def fill_psa(row):
    if pd.isna(row["PSA"]):  # If PSA is missing
        return PSA_mapping.get((row["BLOCK"], row["XBLOCK"], row["YBLOCK"], row["WARD"], row["ANC"], row["DISTRICT"]), row["PSA"])
    return row["PSA"]

# Apply the function to the 'PSA' column
df_combine["PSA"] = df_combine.apply(fill_psa, axis=1)

In [ ]:
# Create a dictionary mapping (BLOCK, XBLOCK, YBLOCK, WARD, ANC, DISTRICT, PSA) to NEIGHBORHOOD_CLUSTER
NEIGHBORHOOD_CLUSTER_mapping = dict(zip(zip(df_location_geog_nonull["BLOCK"], df_location_geog_nonull["XBLOCK"], df_location_geog_nonull["YBLOCK"], df_location_geog_nonull["WARD"], df_location_geog_nonull["ANC"], df_location_geog_nonull["DISTRICT"], df_location_geog_nonull["PSA"]), df_location_geog_nonull["NEIGHBORHOOD_CLUSTER"]))

# Define a custom function to fill in the missing NEIGHBORHOOD_CLUSTER values
def fill_ward(row):
    if pd.isna(row["NEIGHBORHOOD_CLUSTER"]):  # If NEIGHBORHOOD_CLUSTER is missing
        return NEIGHBORHOOD_CLUSTER_mapping.get((row["BLOCK"], row["XBLOCK"], row["YBLOCK"], row["WARD"], row["ANC"], row["DISTRICT"], row["PSA"]), row["NEIGHBORHOOD_CLUSTER"])
    return row["NEIGHBORHOOD_CLUSTER"]

# Apply the function to the 'NEIGHBORHOOD_CLUSTER' column
df_combine["NEIGHBORHOOD_CLUSTER"] = df_combine.apply(fill_ward, axis=1)

In [ ]:
# Create a dictionary mapping (BLOCK, XBLOCK, YBLOCK, WARD, ANC, DISTRICT, PSA, NEIGHBORHOOD_CLUSTER) to VOTING_PRECINCT
VOTING_PRECINCT_mapping = dict(zip(zip(df_location_geog_nonull["BLOCK"], df_location_geog_nonull["XBLOCK"], df_location_geog_nonull["YBLOCK"], df_location_geog_nonull["WARD"], df_location_geog_nonull["ANC"], df_location_geog_nonull["DISTRICT"], df_location_geog_nonull["PSA"], df_location_geog_nonull["NEIGHBORHOOD_CLUSTER"]), df_location_geog_nonull["VOTING_PRECINCT"]))

# Define a custom function to fill in the missing VOTING_PRECINCT values
def fill_ward(row):
    if pd.isna(row["VOTING_PRECINCT"]):  # If VOTING_PRECINCT is missing
        return VOTING_PRECINCT_mapping.get((row["BLOCK"], row["XBLOCK"], row["YBLOCK"], row["WARD"], row["ANC"], row["DISTRICT"], row["PSA"], row["NEIGHBORHOOD_CLUSTER"]), row["VOTING_PRECINCT"])
    return row["VOTING_PRECINCT"]

# Apply the function to the 'VOTING_PRECINCT' column
df_combine["VOTING_PRECINCT"] = df_combine.apply(fill_ward, axis=1)

In [ ]:
print(df_combine.info())

<class 'pandas.core.frame.DataFrame'>
Index: 501225 entries, 0 to 24534
Data columns (total 25 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   X                     501225 non-null  float64
 1   Y                     501225 non-null  float64
 2   CCN                   501225 non-null  int64
 3   REPORT_DAT            501225 non-null  object
 4   SHIFT                 501225 non-null  object
 5   METHOD                501225 non-null  object
 6   OFFENSE               501225 non-null  object
 7   BLOCK                 501224 non-null  object
 8   XBLOCK                501225 non-null  float64
 9   YBLOCK                501225 non-null  float64
 10  WARD                  501225 non-null  float64
 11  ANC                   501225 non-null  object
 12  DISTRICT              501186 non-null  float64
 13  PSA                   501178 non-null  float64
 14  NEIGHBORHOOD_CLUSTER  499629 non-null  object
 15  BLOCK_GROUP           500171 non-null  object
 16  CENSUS_TRACT          500173 non-null  float64
 17  VOTING_PRECINCT       501208 non-null  object
 18  LATITUDE              501225 non-null  float64
 19  LONGITUDE             501225 non-null  float64
 20  BID                   86757 non-null   object
 21  START_DATE            501197 non-null  object
 22  END_DATE              471373 non-null  object
 23  OBJECTID              501225 non-null  int64
 24  OCTO_RECORD_ID        0 non-null       float64
dtypes: float64(11), int64(2), object(12)
memory usage: 99.4+ MB
None

In [ ]:
# Dropping columns that we do not need

df_combine.drop("X", axis=1, inplace=True)
df_combine.drop("Y", axis=1, inplace=True)
df_combine.drop("CCN", axis=1, inplace=True)
df_combine.drop("XBLOCK", axis=1, inplace=True)
df_combine.drop("YBLOCK", axis=1, inplace=True)
df_combine.drop("NEIGHBORHOOD_CLUSTER", axis=1, inplace=True)
df_combine.drop("BLOCK_GROUP", axis=1, inplace=True)
df_combine.drop("CENSUS_TRACT", axis=1, inplace=True)
df_combine.drop("BID", axis=1, inplace=True)
df_combine.drop("START_DATE", axis=1, inplace=True)
df_combine.drop("END_DATE", axis=1, inplace=True)
df_combine.drop("OBJECTID", axis=1, inplace=True)
df_combine.drop("OCTO_RECORD_ID", axis=1, inplace=True)

In [ ]:
print(df_combine.info())

<class 'pandas.core.frame.DataFrame'>
Index: 501225 entries, 0 to 24534
Data columns (total 12 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   REPORT_DAT       501225 non-null  object
 1   SHIFT            501225 non-null  object
 2   METHOD           501225 non-null  object
 3   OFFENSE          501225 non-null  object
 4   BLOCK            501224 non-null  object
 5   WARD             501225 non-null  float64
 6   ANC              501225 non-null  object
 7   DISTRICT         501186 non-null  float64
 8   PSA              501178 non-null  float64
 9   VOTING_PRECINCT  501208 non-null  object
 10  LATITUDE         501225 non-null  float64
 11  LONGITUDE        501225 non-null  float64
dtypes: float64(5), object(7)
memory usage: 49.7+ MB
None

In [ ]:
# dropping rows with null values

df_final = df_combine.dropna()

In [ ]:
print(df_final.info())

<class 'pandas.core.frame.DataFrame'>
Index: 501158 entries, 0 to 24534
Data columns (total 12 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   REPORT_DAT       501158 non-null  object
 1   SHIFT            501158 non-null  object
 2   METHOD           501158 non-null  object
 3   OFFENSE          501158 non-null  object
 4   BLOCK            501158 non-null  object
 5   WARD             501158 non-null  float64
 6   ANC              501158 non-null  object
 7   DISTRICT         501158 non-null  float64
 8   PSA              501158 non-null  float64
 9   VOTING_PRECINCT  501158 non-null  object
 10  LATITUDE         501158 non-null  float64
 11  LONGITUDE        501158 non-null  float64
dtypes: float64(5), object(7)
memory usage: 49.7+ MB
None

In [ ]:
print(df_final["REPORT_DAT"].head(10))

0    2008/12/12 22:00:00+00
1    2008/12/12 21:45:00+00
2    2008/12/12 21:28:00+00
3    2008/12/13 00:50:00+00
4    2008/12/12 22:00:00+00
5    2008/12/12 22:42:00+00
6    2008/12/12 23:22:00+00
7    2008/12/17 16:50:00+00
8    2008/12/17 16:00:00+00
9    2008/12/17 17:55:00+00
Name: REPORT_DAT, dtype: object

In [ ]:
# Splitting REPORT_DAT into Year, Month, Day, Hour and Minute

df_final["YEAR"] = df_final["REPORT_DAT"].str[0:4]
df_final["MONTH"] = df_final["REPORT_DAT"].str[5:7]
df_final["DAY"] = df_final["REPORT_DAT"].str[8:10]
df_final["HOUR"] = df_final["REPORT_DAT"].str[11:13]
df_final["MINUTE"] = df_final["REPORT_DAT"].str[14:16]

<ipython-input-26-b5a1cbba05c2>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_final["YEAR"] = df_final["REPORT_DAT"].str[0:4]
<ipython-input-26-b5a1cbba05c2>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_final["MONTH"] = df_final["REPORT_DAT"].str[5:7]
<ipython-input-26-b5a1cbba05c2>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_final["DAY"] = df_final["REPORT_DAT"].str[8:10]
<ipython-input-26-b5a1cbba05c2>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_final["HOUR"] = df_final["REPORT_DAT"].str[11:13]
<ipython-input-26-b5a1cbba05c2>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_final["MINUTE"] = df_final["REPORT_DAT"].str[14:16]

In [ ]:
print(df_final.info())

<class 'pandas.core.frame.DataFrame'>
Index: 501158 entries, 0 to 24534
Data columns (total 17 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   REPORT_DAT       501158 non-null  object
 1   SHIFT            501158 non-null  object
 2   METHOD           501158 non-null  object
 3   OFFENSE          501158 non-null  object
 4   BLOCK            501158 non-null  object
 5   WARD             501158 non-null  float64
 6   ANC              501158 non-null  object
 7   DISTRICT         501158 non-null  float64
 8   PSA              501158 non-null  float64
 9   VOTING_PRECINCT  501158 non-null  object
 10  LATITUDE         501158 non-null  float64
 11  LONGITUDE        501158 non-null  float64
 12  YEAR             501158 non-null  object
 13  MONTH            501158 non-null  object
 14  DAY              501158 non-null  object
 15  HOUR             501158 non-null  object
 16  MINUTE           501158 non-null  object
dtypes: float64(5), object(12)
memory usage: 68.8+ MB
None

In [ ]:
df_final.drop("REPORT_DAT", axis=1, inplace=True)

<ipython-input-28-e8881dffa3c8>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_final.drop("REPORT_DAT", axis=1, inplace=True)

In [ ]:
# Rearranging Columns

df_final = df_final[["YEAR", "MONTH", "DAY", "HOUR", "MINUTE", "SHIFT", "METHOD", "OFFENSE", "BLOCK", "WARD", "ANC", "DISTRICT", "PSA", "VOTING_PRECINCT", "LATITUDE", "LONGITUDE"]]

In [ ]:
print(df_final.info())

<class 'pandas.core.frame.DataFrame'>
Index: 501158 entries, 0 to 24534
Data columns (total 16 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   YEAR             501158 non-null  object
 1   MONTH            501158 non-null  object
 2   DAY              501158 non-null  object
 3   HOUR             501158 non-null  object
 4   MINUTE           501158 non-null  object
 5   SHIFT            501158 non-null  object
 6   METHOD           501158 non-null  object
 7   OFFENSE          501158 non-null  object
 8   BLOCK            501158 non-null  object
 9   WARD             501158 non-null  float64
 10  ANC              501158 non-null  object
 11  DISTRICT         501158 non-null  float64
 12  PSA              501158 non-null  float64
 13  VOTING_PRECINCT  501158 non-null  object
 14  LATITUDE         501158 non-null  float64
 15  LONGITUDE        501158 non-null  float64
dtypes: float64(5), object(11)
memory usage: 65.0+ MB
None

In [ ]:
df_final.head(10)

,YEAR,MONTH,DAY,HOUR,MINUTE,SHIFT,METHOD,OFFENSE,BLOCK,WARD,ANC,DISTRICT,PSA,VOTING_PRECINCT,LATITUDE,LONGITUDE
0,2008,12,12,22,00,EVENING,OTHERS,THEFT/OTHER,2800 - 2821 BLOCK OF PENNSYLVANIA AVENUE SE,7.0,7B,6.0,605.0,Precinct 111,38.872067,-76.967204
1,2008,12,12,21,45,EVENING,OTHERS,ASSAULT W/DANGEROUS WEAPON,3301 - 3699 BLOCK OF 6TH STREET SE,8.0,8C,7.0,705.0,Precinct 122,38.839713,-76.998457
2,2008,12,12,21,28,EVENING,OTHERS,THEFT/OTHER,1600 - 1699 BLOCK OF L STREET NW,2.0,2B,2.0,207.0,Precinct 17,38.903739,-77.037526
3,2008,12,13,00,50,EVENING,OTHERS,THEFT/OTHER,1200 - 1299 BLOCK OF TAYLOR STREET NW,4.0,4C,4.0,404.0,Precinct 47,38.940802,-77.028226
4,2008,12,12,22,00,EVENING,OTHERS,THEFT/OTHER,2400 - 2499 BLOCK OF 18TH STREET NW,1.0,1C,3.0,303.0,Precinct 25,38.921619,-77.042367
5,2008,12,12,22,42,EVENING,OTHERS,THEFT/OTHER,200 - 299 BLOCK OF 10TH STREET NE,6.0,6A,1.0,108.0,Precinct 85,38.892790,-76.992657
6,2008,12,12,23,22,EVENING,OTHERS,ROBBERY,1601 - 1699 BLOCK OF ARGONNE PLACE NW,1.0,1C,3.0,303.0,Precinct 35,38.926466,-77.038403
7,2008,12,17,16,50,DAY,OTHERS,MOTOR VEHICLE THEFT,500 - 599 BLOCK OF 23RD PLACE NE,7.0,7D,5.0,507.0,Precinct 80,38.897202,-76.973382
8,2008,12,17,16,00,DAY,OTHERS,BURGLARY,1100 - 1199 BLOCK OF VARNEY STREET SE,8.0,8E,7.0,706.0,Precinct 121,38.836199,-76.988712
9,2008,12,17,17,55,DAY,OTHERS,THEFT/OTHER,5700 - 5717 BLOCK OF 5TH STREET NW,4.0,4B,4.0,402.0,Precinct 58,38.959090,-77.019903

In [ ]:
# Finalizing data types for each column

df_final["YEAR"] = df_final["YEAR"].astype(int)
df_final["MONTH"] = df_final["MONTH"].astype(int)
df_final["DAY"] = df_final["DAY"].astype(int)
df_final["HOUR"] = df_final["HOUR"].astype(int)
df_final["MINUTE"] = df_final["MINUTE"].astype(int)
df_final["SHIFT"] = df_final["SHIFT"].astype("category")
df_final["METHOD"] = df_final["METHOD"].astype("category")
df_final["OFFENSE"] = df_final["OFFENSE"].astype("category")
df_final["BLOCK"] = df_final["BLOCK"].astype(str)
df_final["WARD"] = df_final["WARD"].astype(int)
df_final["ANC"] = df_final["ANC"].astype("category")
df_final["DISTRICT"] = df_final["DISTRICT"].astype(int)
df_final["PSA"] = df_final["PSA"].astype(int)
df_final["VOTING_PRECINCT"] = df_final["VOTING_PRECINCT"].astype("category")

In [ ]:
# Merging 2 categories in offense - THEFT/OTHER and

df_final["OFFENSE"] = df_final["OFFENSE"].replace({"THEFT/OTHER": "THEFT", "THEFT F/AUTO": "THEFT"})

<ipython-input-33-eb39e788a5bc>:3: FutureWarning: The behavior of Series.replace (and DataFrame.replace) with CategoricalDtype is deprecated. In a future version, replace will only be used for cases that preserve the categories. To change the categories, use ser.cat.rename_categories instead.
  df_final["OFFENSE"] = df_final["OFFENSE"].replace({"THEFT/OTHER": "THEFT", "THEFT F/AUTO": "THEFT"})

In [ ]:
df_final["OFFENSE"].value_counts()

OFFENSE
THEFT                         327306
MOTOR VEHICLE THEFT            52890
ROBBERY                        47094
BURGLARY                       37237
ASSAULT W/DANGEROUS WEAPON     30616
SEX ABUSE                       3428
HOMICIDE                        2225
ARSON                            362
Name: count, dtype: int64

In [ ]:
df_final['YEAR'] = df_final['YEAR'].apply(lambda x: x + 2 if 2008 <= x < 2022 else x)

In [ ]:
df_final.head(10)

,YEAR,MONTH,DAY,HOUR,MINUTE,SHIFT,METHOD,OFFENSE,BLOCK,WARD,ANC,DISTRICT,PSA,VOTING_PRECINCT,LATITUDE,LONGITUDE
0,2010,12,12,22,0,EVENING,OTHERS,THEFT,2800 - 2821 BLOCK OF PENNSYLVANIA AVENUE SE,7,7B,6,605,Precinct 111,38.872067,-76.967204
1,2010,12,12,21,45,EVENING,OTHERS,ASSAULT W/DANGEROUS WEAPON,3301 - 3699 BLOCK OF 6TH STREET SE,8,8C,7,705,Precinct 122,38.839713,-76.998457
2,2010,12,12,21,28,EVENING,OTHERS,THEFT,1600 - 1699 BLOCK OF L STREET NW,2,2B,2,207,Precinct 17,38.903739,-77.037526
3,2010,12,13,0,50,EVENING,OTHERS,THEFT,1200 - 1299 BLOCK OF TAYLOR STREET NW,4,4C,4,404,Precinct 47,38.940802,-77.028226
4,2010,12,12,22,0,EVENING,OTHERS,THEFT,2400 - 2499 BLOCK OF 18TH STREET NW,1,1C,3,303,Precinct 25,38.921619,-77.042367
5,2010,12,12,22,42,EVENING,OTHERS,THEFT,200 - 299 BLOCK OF 10TH STREET NE,6,6A,1,108,Precinct 85,38.892790,-76.992657
6,2010,12,12,23,22,EVENING,OTHERS,ROBBERY,1601 - 1699 BLOCK OF ARGONNE PLACE NW,1,1C,3,303,Precinct 35,38.926466,-77.038403
7,2010,12,17,16,50,DAY,OTHERS,MOTOR VEHICLE THEFT,500 - 599 BLOCK OF 23RD PLACE NE,7,7D,5,507,Precinct 80,38.897202,-76.973382
8,2010,12,17,16,0,DAY,OTHERS,BURGLARY,1100 - 1199 BLOCK OF VARNEY STREET SE,8,8E,7,706,Precinct 121,38.836199,-76.988712
9,2010,12,17,17,55,DAY,OTHERS,THEFT,5700 - 5717 BLOCK OF 5TH STREET NW,4,4B,4,402,Precinct 58,38.959090,-77.019903

In [ ]:
print(df_final.info())

<class 'pandas.core.frame.DataFrame'>
Index: 501158 entries, 0 to 24534
Data columns (total 16 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   YEAR             501158 non-null  int64
 1   MONTH            501158 non-null  int64
 2   DAY              501158 non-null  int64
 3   HOUR             501158 non-null  int64
 4   MINUTE           501158 non-null  int64
 5   SHIFT            501158 non-null  category
 6   METHOD           501158 non-null  category
 7   OFFENSE          501158 non-null  category
 8   BLOCK            501158 non-null  object
 9   WARD             501158 non-null  int64
 10  ANC              501158 non-null  category
 11  DISTRICT         501158 non-null  int64
 12  PSA              501158 non-null  int64
 13  VOTING_PRECINCT  501158 non-null  category
 14  LATITUDE         501158 non-null  float64
 15  LONGITUDE        501158 non-null  float64
dtypes: category(5), float64(2), int64(8), object(1)
memory usage: 48.8+ MB
None

In [ ]:
# Saving the dataset into a csv file

df_final.to_csv('combined_data_nocovid_adjustedyears.csv', index=False)